{% extends "base-site.html" %}

{% block title %}Catalyst Creative Arts Program Registration{% endblock %}

{% block html_head %}
<style>
h5 {
  padding-top: 20px;
}
#session_detail_box {
  background-color: LightGray;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.top-pad {
  padding-top: 10px;
}
{% if form %}
{% if not form.camper2_name.data %}#camper2_group, {% else %}#add_camper2, {% endif %}
{% if not form.camper3_name.data %}#camper3_group, {% else %}#add_camper3, {% endif %}
{% endif %}
#paypal-button-container {
  display: none;
}
.total {
  background-color: LightGray;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
</style>
{% endblock %}

{% block content %}

<center>
<h3>Registration & Release Form</h3>
</center>

{% if form %}
  {% if form.session_detail.data %}
    {% set session_name = form.session_detail.data %}
  {% elif session_detail %}
    {% set session_name = session_detail %}
  {% else %}
    ERROR AAA
  {% endif %}
{% elif data and rid %}
  {% if data["session_detail"] %}
    {% set session_name = data["session_detail"] %}
  {% elif session_detail %}
    {% set session_name = session_detail %}
  {% else %}
    ERROR BBB
  {% endif %}
{% endif %}

<div id="session_detail_box">

You chose:<br>

{% if session_name == "art_camp_1" %}
<h5>Art Camp 1: Ages 7 &amp; Up - June 21-25, 2021 - 9am-12pm</h5>
Mon - Resin over collage, pottery wheel work<br>
Tue - Fluid Art, pottery painting<br>
Wed - Printmaking<br>
Thu - Water marbling, glaze pottery wheel item<br>
Fri - Abstract acrylic paint self portrait<br>

{% elif session_name == "art_camp_2" %}
<h5>Art Camp 2: Ages 12 &amp; Up - June 21-25, 2021 - 2pm-5pm</h5>
Mon - Resin over collage, pottery wheel work<br>
Tue - Macrame key chain, resin over collage<br>
Wed - Relief block printmaking<br>
Thu - Printmaking, water marbling, glaze pottery wheel item<br>
Fri - Watercolor technique practice, watercolor painting<br>

{% elif session_name == "art_camp_3" %}
<h5>Art Camp 3: Ages 7 &amp; Up - July 12-16, 2021 - 9am-12pm</h5>
Mon - Resin over collage, pottery wheel work<br>
Tue - Fluid art, pottery painting<br>
Wed - Printmaking<br>
Thu - Water marbling, glaze pottery wheel item<br>
Fri - Abstract acrylic paint self portrait<br>

{% elif session_name == "art_camp_4" %}
<h5>Art Camp 4: Ages 12 &amp; Up - July 12-16, 2021 - 9am-12pm</h5>
Mon - Resin over collage, pottery wheel work<br>
Tue - Macrame key chain, resin over collage<br>
We - Relief block printmaking<br>
Thu - Printmaking, water marbling, glaze pottery wheel item<br>
Fri - Watercolor technique practice, watercolor painting<br>

{% elif session_name == "pottery_camp_1" %}
<h5>Pottery Camp - 8 &amp; Up - July 19-23, 2021 - 9am-12pm</h5>
Mon - Introduction and handbuilding techniques practice<br>
Tue - Slab formed bowl<br>
Wed - Slab formed box or planter<br>
Thu - Pinch pot, pottery wheel work<br>
Fri - Glaze pottery<br>

{% elif session_name == "After School Pottery Program 2020" %}
<h5>After School Pottery Program 2020</h5>

{% endif %}

</div>

{% if data and rid %}

{# THIS IS THE CONFIRM SCREEN #}

{# data #}


<form action="/registration/{{ registration_name }}/edit" method="POST" enctype="text/plain" name="registration_form" id="registration_form">
<input type="hidden" name="rid" id="rid" value="{{ rid }}"/>

{% if data and data["session_detail"] %}
<input type="hidden" name="session_detail" id="session_detail" value="{{ data['session_detail'] }}"/>
{% endif %}

<div class="row">
<div class="col-sm-12 bg-light">
<h5>Confirm your information</h5>
</div>
</div>

<div class="row">
<div class="col-sm-4">
{% for k, v in data.items() %}
  {% if k.startswith('parent_name') or k.startswith('pickup1_name') %}</div><div class="col-sm-4">{% endif %}
  {% if k != "rid" and k != "order_id" and k != "submit" and k != "session_detail" %}
    {% if v and v != "0" %}
      {{ k }}: <span id="{{ k }}">{{ v }}</span><br/>
    {% endif %}
  {% endif %}
  {% if k == "camper3_age" %}
    number_of_campers: <span id="number_of_campers"></span><br>
  {% endif %}
{% endfor %}
</div>
</div>

<div class="total">Total: $<span id="total"></span></div>

<script>var page='confirm';</script>

<div class="row" id="edit_continue_row">
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-warning" onClick="edit(); return false;">Edit Info</button>
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-success" onClick="continuePay(); return false;">Pay with PayPal</button>
  </div>
</div>
</form>

{% endif %}

{% if form %}

{# THIS IS THE INITIAL AND EDIT SCREEN #}

<form action="/registration/{{ registration_name }}/confirm" method="POST" enctype="text/plain" name="registration_form" id="registration_form">
{{ form.rid }}
{{ form.session_detail }}

{% if session_detail %}
<script>
document.getElementById("session_detail").value = "{{ session_detail|safe }}";
</script>
{% endif %}

<div class="row">
  <div class="col-sm-12">
    <h5>PARTICIPANT(S) INFORMATION</h5>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    {{ form.camper1_name.label(class="form-text text-muted") }}
    {{ form.camper1_name(class="form-control") }}
    <p id="add_camper2"><a href="#" onclick="showMore(2); return false;">Add a second participant</a></p>
  </div>
  <div class="col-sm-4">
    {{ form.camper1_age.label(class="form-text text-muted") }}
    {{ form.camper1_age(class="form-control") }}
  </div>
  {#
  <div class="col-sm-4">
    {{ form.camper1_grade.label(class="form-text text-muted") }}
    {{ form.camper1_grade(class="form-control") }}
  </div>
  #}
</div>

<div id="camper2_group">
<div class="row">
  <div class="col-sm-4">
    {{ form.camper2_name.label(class="form-text text-muted") }}
    {{ form.camper2_name(class="form-control") }}
    <p id="add_camper3"><a href="#" onclick="showMore(3); return false;">Add a third participant</a></p>
  </div>
  <div class="col-sm-4">
    {{ form.camper2_age.label(class="form-text text-muted") }}
    {{ form.camper2_age(class="form-control") }}
  </div>
  {#
  <div class="col-sm-4">
    {{ form.camper2_grade.label(class="form-text text-muted") }}
    {{ form.camper2_grade(class="form-control") }}
  </div>
  #}
</div>
</div>

<div id="camper3_group">
<div class="row">
  <div class="col-sm-4">
    {{ form.camper3_name.label(class="form-text text-muted") }}
    {{ form.camper3_name(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.camper3_age.label(class="form-text text-muted") }}
    {{ form.camper3_age(class="form-control") }}
  </div>
  {#
  <div class="col-sm-4">
    {{ form.camper3_grade.label(class="form-text text-muted") }}
    {{ form.camper3_grade(class="form-control") }}
  </div>
  #}
</div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h5>PARENT/GUARDIAN INFORMATION</h5>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    {{ form.parent_name.label(class="form-text text-muted") }}
    {{ form.parent_name(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.parent_address.label(class="form-text text-muted") }}
    {{ form.parent_address(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.parent_city.label(class="form-text text-muted") }}
    {{ form.parent_city(class="form-control") }}
  </div>
</div>
  
<div class="row">
  <div class="col-sm-4">
    {{ form.parent_state.label(class="form-text text-muted") }}
    {{ form.parent_state(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.parent_zip.label(class="form-text text-muted") }}
    {{ form.parent_zip(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.parent_email.label(class="form-text text-muted") }}
    {{ form.parent_email(class="form-control") }}
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    {{ form.parent_phone.label(class="form-text text-muted") }}
    {{ form.parent_phone(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.parent_em_name.label(class="form-text text-muted") }}
    {{ form.parent_em_name(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.parent_em_phone.label(class="form-text text-muted") }}
    {{ form.parent_em_phone(class="form-control") }}
  </div>
</div>
  
<div class="row">
  <div class="col-sm-12">
    <h5>PERSON(S) AUTHORIZED TO PICK UP PARTICIPANT</h5>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6">
    {{ form.pickup1_name.label(class="form-text text-muted") }}
    {{ form.pickup1_name(class="form-control") }}
  </div>
  <div class="col-sm-6">
    {{ form.pickup1_phone.label(class="form-text text-muted") }}
    {{ form.pickup1_phone(class="form-control") }}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    {{ form.pickup2_name.label(class="form-text text-muted") }}
    {{ form.pickup2_name(class="form-control") }}
  </div>
  <div class="col-sm-6">
    {{ form.pickup2_phone.label(class="form-text text-muted") }}
    {{ form.pickup2_phone(class="form-control") }}
  </div>
</div>

<div class="row top-pad">
  <div class="col-sm-12">
{{ form.treatment_permission }}
{{ form.treatment_permission.label }}<br/>
<small>In case of emergency and in the event that none of the emergency contacts can be reached, CATALYST CREATIVE ARTS will need signed authorization (below) to seek medical assistance for your child. I give permission to the CATALYST CREATIVE ARTS, its employees and designated representatives, to use whatever emergency (e.g., first aid, disaster evacuation) measures are judged necessary by them for the care and protection of my child while under supervision of the CATALYST CREATIVE ARTS. In case of medical emergency, I understand that my child will be transported to appropriate medical facilities by a local emergency unit for treatment if the local emergency resource (police or paramedics) deems it necessary. It is understood that in some medical situations, the staff will need to contact the local emergency resource before the parent, child's physician and/ or other emergency contacts acting on the parents' behalf.</small>
  </div>
</div>
    
<div class="row top-pad">
  <div class="col-sm-12">
{{ form.photo_release }}
{{ form.photo_release.label }}<br/>
<small>I, the undersigned, grant Catalyst Creative, LLC d/b/a CATALYST CREATIVE ARTS, permission to use any pictures taken in public view of myself individually, my child (participant(s) listed above), or any in which I (or the participant(s)) appear in whole or in part during After School Pottery Program. I understand that these pictures may be reproduced in print and electronic media specifically to promote CATALYST CREATIVE ARTS. I waive any right to inspect or approve said pictures, or any captions or accompanying texts that may be used in connection with them, or to approve the use to which said materials may be applied.</small>
  </div>
</div>

<div class="row top-pad">
  <div class="col-sm-12">
    {{ form.signature.label(class="form-text text-muted") }}
    {{ form.signature(class="form-control") }}
    <p><small>Typing your name into the input field above serves as your signature.</small></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.submit(class="form-control btn btn-success") }}
  </div>
</div>

</form>

<script>var page='add-edit';</script>

{% endif %}

{% if data and data.parent_name == "__TEST__" %}
<h1>SANDBOX</h1>
<script src="https://www.paypal.com/sdk/js?client-id=AbPc1YK48488Yf9_nGmIzXCbsJo_WVLWmVSdOmg-1dDf0IZScirplTicjipBJyD3cD-S2x9rTijlhIu4">
// SANDBOX
</script>
{% else %}
<script src="https://www.paypal.com/sdk/js?client-id=AaVfyVOubo8eefzZbeVPU011S8qwUqhxjWvwQ4oKBPGh75ltkQNs2Hob3TVxBfeU2uoEm2C9r8qP-uir">
// PRODUCTION
</script>
{% endif %}

<div id="paypal-button-container" class="text-center top-buffer"></div>

<script>

function calculate() {
  var camperNameLen = {};
  var total = 0;
  var number_of_campers = 0;
  var first_camper_price = 200;
  var more_camper_price = 180;
  for (i = 1; i <= 3; i++) {
    //console.log(i);
    try {
      camperNameLen[i] = document.getElementById("camper"+i+"_name").innerHTML.length;
      console.log(camperNameLen[i]);
    } catch(err) {
      camperNameLen[i] = 0;
      console.log('fail'+camperNameLen[i]);
    }
    if (camperNameLen[i] > 0) {
      number_of_campers += 1;
      if (total >= 200) {
        total += more_camper_price;
      } else {
        total += first_camper_price;
      }
      console.log("total: " + total);
    }
  }

  document.getElementById("total").innerHTML = total;
  document.getElementById("number_of_campers").innerHTML = number_of_campers;

  return total;
}

if (page == "confirm") {
  calculate();
}

function showMore(n) {
  document.getElementById("camper"+n+"_group").style.display = "block";
  document.getElementById("add_camper"+n).style.display = "none";
}

function edit() {
  document.registration_form.submit();
  return true;
}

function continuePay() {
  document.getElementById("paypal-button-container").style.display = "block";
  return false;
}

// PAYPAL STUFF
if (page == "confirm") {
  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: calculate()
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        //alert('Transaction completed by ' + details.payer.name.given_name);

        var transaction_completed_text = "Transaction complete. Thank you " + details.payer.name.given_name;
        transaction_completed_text += " Order ID: " + details.id;
        document.getElementById("paypal-button-container").style.display = 'none';
        document.getElementById("edit_continue_row").innerHTML = transaction_completed_text;
        document.getElementById("edit_continue_row").style.backgroundColor = "green";

        //console.log(details);
        // Call your server to save the transaction
        //return fetch('/app/paypal-transaction-complete', {
        return fetch('/registration/{{ registration_name }}/complete', {
          method: 'POST',
          headers: {
            'content-type': 'application/json'
          },
          body: JSON.stringify({
            {% if data and rid %}registration_id: {{ rid }},{% endif %}
            order_id: data.orderID,
            parent_name: document.getElementById("parent_name").innerHTML,
            parent_address: document.getElementById("parent_address").innerHTML,
            parent_city: document.getElementById("parent_city").innerHTML,
            parent_state: document.getElementById("parent_state").innerHTML,
            parent_zip: document.getElementById("parent_zip").innerHTML,
            parent_email: document.getElementById("parent_email").innerHTML,
            parent_phone: document.getElementById("parent_phone").innerHTML,
            number_of_campers: document.getElementById("number_of_campers").innerHTML,
            total_cost: document.getElementById("total").innerHTML,
            details: details
          })
        });
      });
    }
  }).render('#paypal-button-container');
}
</script>

{% endblock %}
