{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Wheel Wars Registration{% endblock %}

{% block html_head %}
<style>
h5 {
  padding-top: 20px;
}
</style>
{% endblock %}

{% block content %}

<center>
<h1>Catalyst Creative Arts Wheel Wars</h1>
<h3>Registration & Release Form</h3>
</center>

Wheel Wars Saturday March 27, 2021
   
<div class="row">
  <div class="col-sm-12">
    <h5>{% if data %}CONFIRM YOUR{% else %}PARTICIPANT{% endif %} INFORMATION</h5>
  </div>
</div>

{% if data %}

<form action="/registration/{{ registration_name }}/edit" method="POST" enctype="text/plain" name="registration_form" id="registration_form">
<input type="hidden" name="rid" id="rid" value="{{ rid }}"/>

<div class="row">
{% for key, val in data.items() %}
  <div class="col-sm-4">{{ key }}: {{ val }}</div>
  {% if loop.index % 3 %}{% else %}</div><div class="row">{% endif %}
{% endfor %}
</div>

<div class="row" id="edit_continue_row">
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-warning" onClick="edit(); return false;">Edit</button>
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-success" onClick="complete(); return false;">Submit</button>
  </div>
</div>

</form>

{% elif form %}

<form action="/registration/{{ registration_name }}/confirm" method="POST" enctype="text/plain" name="registration_form" id="registration_form">

{% for field in form %}
  {% if loop.index <= 4 %}
    {{ field }}
  {% endif %}
{% endfor %}

<div class="row">
  <div class="col-sm-4">
    {{ form.name.label(class="form-text text-muted") }}
    {{ form.name(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.phone_number.label(class="form-text text-muted") }}
    {{ form.phone_number(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.age.label(class="form-text text-muted") }}
    {{ form.age(class="form-control") }}
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    {{ form.city.label(class="form-text text-muted") }}
    {{ form.city(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.career.label(class="form-text text-muted") }}
    {{ form.career(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.use_wheel.label(class="form-text text-muted") }}
    {{ form.use_wheel(class="form-control") }}
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    {{ form.experience.label(class="form-text text-muted") }}
    {{ form.experience(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.items.label(class="form-text text-muted") }}
    {{ form.items(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.interests.label(class="form-text text-muted") }}
    {{ form.interests(class="form-control") }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 top-buffer">
{{ form.treatment_permission }}
{{ form.treatment_permission.label(for="treatment_permission") }}<br/>
<small>In case of emergency and in the event that none of the emergency contacts can be reached, CATALYST CREATIVE ARTS will need signed authorization (below) to seek medical assistance for your child. I give permission to the CATALYST CREATIVE ARTS, its employees and designated representatives, to use whatever emergency (e.g., first aid, disaster evacuation) measures are judged necessary by them for the care and protection of my child while under supervision of the CATALYST CREATIVE ARTS. In case of medical emergency, I understand that my child will be transported to appropriate medical facilities by a local emergency unit for treatment if the local emergency resource (police or paramedics) deems it necessary. It is understood that in some medical situations, the staff will need to contact the local emergency resource before the parent, child's physician and/ or other emergency contacts acting on the parents' behalf.</small>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-12 top-buffer">
{{ form.photo_release }}
{{ form.photo_release.label(for="photo_release") }}<br/>
<small>I, the undersigned, grant Catalyst Creative, LLC d/b/a CATALYST CREATIVE ARTS, permission to use any pictures taken in public view of myself individually, my child (participant(s) listed above), or any in which I (or the participant(s)) appear in whole or in part during Wheel Wars competition. I understand that these pictures may be reproduced in print and electronic media specifically to promote CATALYST CREATIVE ARTS. I waive any right to inspect or approve said pictures, or any captions or accompanying texts that may be used in connection with them, or to approve the use to which said materials may be applied</small>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 top-buffer">
    {{ form.signature.label(class="form-text text-muted") }}
    {{ form.signature(class="form-control") }}
    <p><small>Typing your name into the input field above serves as your signature.</small></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 top-buffer">
    {{ form.submit(class="form-control btn btn-success") }}
  </div>
</div>

</form>

{% elif status == "complete" %}

Thank you for registering. We will contact you soon.

{% endif %}

<script>
function edit() {
  document.registration_form.submit();
  return true;
}
function complete() {
  document.registration_form.action = "/registration/{{ registration_name }}/complete";
  document.registration_form.submit();
  return true;
}
</script>

{% endblock %}
