{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Checkout{% endblock %}

{% block html_head %}

<link rel="stylesheet" href="/checkout.css" />
<script src="https://js.stripe.com/v3/"></script>

{% if form_data %}
  <script src="/store-checkout.js" defer></script>
{% endif %}

{% endblock %}

{% block content %}

<body>

    {% if form_data %}

    <!-- Display a payment form -->
    <form id="payment-form">

    <div style="display: none; visibility: hidden;"><span id="session_id">{{ form_data["session_id"] }}</span></div>

    <div style="display: none; visibility: hidden;"><span id="product_names">{{ form_data["product_names"] }}</span></div>

    {% for product in form_data["product_names"].split(",") %}
    {% if product|trim != "plus tax" %}<div>{{ product|trim }}</div>{% endif %}
    {% endfor %}

    <div><span>Total: </span>$<span id="total_cost">{{ form_data["total_cost"] }}</span></div>

    <hr>

    <p>Shipping information:</p>
    <div id="name">{{ form_data["name"] }}</div>
    <div id="line1">{{ form_data["line1"] }}</div>
    <div id="line2">{{ form_data["line2"] }}</div>
    <span id="city">{{ form_data["city"] }}</span>
    <span id="state">{{ form_data["state"] }}</span>
    <span id="postal_code">{{ form_data["postal_code"] }}</span>
    <span id="country">{{ form_data["country"] }}</span>
    <div id="phone">{{ form_data["phone"] }}</div>

    <hr>

    <div id="link-authentication-element">
      <!--Stripe.js injects the Link Authentication Element-->
    </div>

    <div id="payment-element">
      <!--Stripe.js injects the Payment Element-->
    </div>

    <button id="submit">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Pay now</span>
    </button>

    <div id="payment-message" class="hidden"></div>
    
    </form>

    {% else %}

    {# else if no form_data ... #}

    <center>
    <div id="message" style="padding: 20px;"></div>
    </center>

    <script src="/store-checkout-status.js" defer></script>

    {% endif %}

</body>
</html>

{% endblock %}

