{% extends "base-admin.html" %}
{% block title %}Admin Add/Edit Image{% endblock %}

{% block html_head %}
<style>
.green {
  color: Green;
  background-color: #EEE;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
#submit{
  margin-top: 10px;
}
#upload_file {
  display: none;
}
</style>
<!-- https://jqueryui.com/datepicker/ -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#date" ).datepicker();
} );
</script>
{% endblock %}

{% block content %}
<!--
{% if event_data %}
  {% for k, v in event_data.items() %}
    <div>{{ k }}: {{ v }}</div>
  {% endfor %}
{% endif %}
-->

<p style="padding-top: 10px;">
<button type="button" class="btn btn-success" onclick="javascript:location.href='/app/admin/events/list'">Done</button>
{% if eid.eid %}
<button type="button" class="btn btn-primary" onclick="javascript:location.href='/app/admin/events/add-edit?eid={{ eid.eid }}'">Re-edit</button>
<button type="button" class="btn btn-secondary" onclick="document.getElementById('upload_file').style.display='block';">Upload Image for event {{ eid.eid }}</button>
{% endif %}
</p>

<div id="upload_file">
<hr>
<h2><label for="image">Upload File</label></h2>
<form action="/app/image/upload" method="POST" enctype="multipart/form-data" name="test_form" id="test_form">
<input class="image_upload" id="eid" name="eid" type="hidden" value="{{ eid.eid }}">
<div class="field"><input class="image_upload" id="image" name="image" type="file"></div>
<div class="field"><input class="image_upload" id="submit" name="submit" type="submit" value="Submit"></div>
</form>
</div>

{% endblock %}
