{% extends "base-admin.html" %}
{% block title %}Admin View Registration{% endblock %}

{% block html_head %}
<style>
@media (min-width: 1200px) {
  .container {
    max-width: 1350px;
  }
}
td {
  padding: 10px;
  border-right: 1px dashed LightGray;
}
.tr_regs {
  border: 1px dashed LightGray;
}
.tr_divider {
  height: 50px;
}
.new_title {
  background-color: Khaki;
  padding: 5px;
  margin: 5px;
}
</style>
{% endblock %}

{% block content %}

{#
<h1>Mural 2024</h1>
<table>
{% for eid, signups in file_data_dict.items() %} 

  {% if eid == "mural-2024" %}

  {% for signup in signups %}

    {% if "test123" not in signup["first_and_last_name"].lower() and "marum" not in signup["first_and_last_name"].lower() %}

      <tr>
      {% for k, v in signup.items() %}
        <td>{{ v }}</td>
      {% endfor %}
      </tr>

    {% endif %}

  {% endfor %}

  {% endif %}

{% endfor %}
</table>
#}

{#
<h1>Testing new registration management</h1>
<table>
<tr style="background-color: LightGray;">
  <td><a href="/app/admin/registration/add-edit">+</a></td>
  <td>Title</td>
  <td>Path</td>
  <td>Create Date</td>
  <td>Single day event</td>
  <td>Fields</td>
  <td>Status</td>
</tr>
{% for create_date_epoch, signup_data in registration_config_data.items() %}
  <tr>
  <td><a href='/app/admin/registration/add-edit?rid={{ signup_data["page_path"] }}-{{ signup_data["create_date_epoch"] }}'>{{ create_date_epoch }}</a></td>
  <td>{{ signup_data["title"] }}</td>
  <td>{{ signup_data["page_path"] }}</td>
  <td>{{ signup_data["create_date"] }} </td>
  <td>{{ signup_data["single_day_event"] }} </td>
  <td>
  {% for field in signup_data["fields"] %}
    {{ field }}{{ "," if not loop.last }}
  {% endfor %}
  </td>
  <td>{{ signup_data["status"] }} </td>
  </tr>
{% endfor %}
</table>
<hr>
#}

<h1>Sign ups</h1>

<table>

<tr style="background-color: LightGray;">
<td>event id</td>
<td>name</td>
<td>phone</td>
<td>email</td>
<td>event title</td>
<td>event date</td>
</tr>

{% for eid, signups in file_data_dict.items() %} 

  {% for signup in signups %}

    {% if signup["event_title"] %}

    {% if " Jan " not in signup["event_date"] and 
          " Feb " not in signup["event_date"] and 
          " Mar " not in signup["event_date"] and
          " Apr " not in signup["event_date"] %}

    <tr>
    <td><a href="/app/admin/events/add-edit?eid={{ eid }}">{{ eid }}</a></td>
    <td>{{ signup["customer_name"] }}</td>
    <td>{{ signup["customer_phone"] }}</td>
    <td>{% if signup["customer_email"] %}{{ signup["customer_email"].replace("%40", "@") }}{% endif %}</td>
    <td>{{ signup["event_title"].replace("%28", "(").replace("%29", ")").replace("%40", "@") }}</td>
    <td>{{ signup["event_date"] }}</td>
    </tr>

    {% endif %}

    {% endif %}

  {% endfor %}

{% endfor %}

</table>

<hr>

<h1>Art Camp Registration</h1>

<table>
<tr style="background-color: LightGray;">
  <td>Camper</td>
  <td>Parent</td>
  <td>Pickup</td>
  <td>Order</td>
</tr>

{% for camp, regs in new_reg_dict.items() %}

<tr>
  <td colspan="3"><span class="new_title"><b>

    {% if camp == "art_camp_2024_1" %}
    June 3-7
    {% elif camp == "art_camp_2024_2" %}
    June 10-14
    {% elif camp == "art_camp_2024_3" %}
    June 17-21
    {% elif camp == "art_camp_2024_4" %}
    June 24-28
    {% elif camp == "art_camp_2024_5" %}
    July 8-12
    {% elif camp == "art_camp_2024_6" %}
    July 15-19
    {% elif camp == "art_camp_2024_7" %}
    July 22-26
    {% elif camp == "art_camp_2024_8" %}
    July 29 - Aug 2
    {% endif %}

  </b> {{ camp }}</td>
</tr>

{% for reg in regs %}
  <tr class="tr_regs">
    <td>
	{{ reg["camper1_name"] }}
	{{ reg["camper1_age"] }}
	{% if reg["camper2_name"] %}<br> {{ reg["camper2_name"] }} {% endif %}
	{% if reg["camper2_age"] and reg["camper2_age"] != 0 %} {{ reg["camper2_age"] }} {% endif %}
	{% if reg["camper3_name"] %}<br> {{ reg["camper3_name"] }} {% endif %}
	{% if reg["camper3_age"] and reg["camper3_age"] != 0 %} {{ reg["camper3_age"] }} {% endif %}
    </td>
    <td>
        {{ reg["parent_name"] }}<br>
        {{ reg["parent_address"] }}
        {{ reg["parent_city"] }}
        {{ reg["parent_state"] }}
        {{ reg["parent_zip"] }}<br>
        {{ reg["parent_email"] }}<br>
        {{ reg["parent_phone"] }}
    </td>
    <td>
        {{ reg["parent_em_name"] }}
        {{ reg["parent_em_phone"] }}<br>
        {{ reg["pickup1_name"] }}
        {{ reg["pickup1_phone"] }}<br>
        {{ reg["pickup2_name"] }}
        {{ reg["pickup2_phone"] }}
    </td>
    <td>

    {% set order_id = reg["order_id"] %}
    {% if order_id.startswith("pi_") %}
      <a href="https://dashboard.stripe.com/payments/{{ order_id }}" target="_blank">{{ order_id }}</a>
    {% else %}
      {{ order_id }}
    {% endif %}

    </td>
  </tr>
{% endfor %}

<tr class="tr_divider">
  <td colspan="3"></td>
</tr>

{% endfor %}
</table>

{#
<hr>

<a name="wheel-wars"><h1>Wheel Wars</h1></a>

<div class="new_title">Saturday, March 30, 2024 2-4PM</div>

<table>

<!--
PAINT WARS:
<tr style="background-color: LightGray;">
    <td>name, age</td>
    <td>phone_number</td>
    <td>email</td>
    <td>instagram</td>
    <td>can_paint</td>
    <td>can_promote</td>
</tr>
-->

<tr style="background-color: LightGray;">
<td> name </td>
<td> age </td>
<td> phone_number </td>
<td> email </td>
<td> shirt_size </td>
<td> city </td>
<td> career </td>
<td> use_wheel </td>
<td> experience </td>
<td> items </td>
<td> interests </td>
<td> photo_release </td>
</tr>

{% for key, reg in reg_data.items() %}

{% if reg["event_date"] == "Saturday, March 30, 2024 2-4PM" %}

<tr class="tr_regs">

<td> {{ reg["name"] }} </td>
<td> {{ reg["age"] }} </td>
<td> {{ reg["phone_number"] }} </td>
<td> {{ reg["email"] }} </td>
<td> {{ reg["shirt_size"] }} </td>
<td> {{ reg["city"] }} </td>
<td> {{ reg["career"] }} </td>
<td> {{ reg["use_wheel"] }} </td>
<td> {{ reg["experience"] }} </td>
<td> {{ reg["items"] }} </td>
<td> {{ reg["interests"] }} </td>
<td> {{ reg["photo_release"] }} </td>

</tr>

{% endif %}

{% if reg["event_date"] == "Saturday Oct 28, 2023, 7-9 PM" %}

<tr class="tr_regs">

<td>
    {{ reg["name"] }}<br>
    Age {{ reg["age"] }}<br>
</td>
<td>
    {{ reg["phone_number"] }}<br>
</td>
<td>
    {{ reg["email"] }}
</td>
<td>
    {{ reg["instagram"] }}
</td>
<td>
    {{ reg["can_paint"] }}
</td>
<td>
    {{ reg["can_promote"] }}
</td>

</tr>

{% endif %}

{% endfor %}

</table>

#}

<hr>

{% endblock %}
