{% extends "base-admin.html" %}
{% block title %}Admin Add/Edit Image{% endblock %}

{% block html_head %}
<style>
.field {
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
{% endblock %}

{% block content %}
{% if product_data %}
  {% for k, v in product_data.items() %}
    <div>{{ k }}: {{ v }}</div>
  {% endfor %}
{% endif %}

<h2><label for="image">Upload File</label></h2>
<form action="/app/product-image/upload" method="POST" enctype="multipart/form-data" name="test_form" id="test_form">
<input class="image_upload" id="pid" name="pid" type="hidden" value="{{ pid.pid }}">
<div class="field"><input class="image_upload" id="image" name="image" type="file"></div>
<div class="field"><input class="image_upload" id="submit" name="submit" type="submit" value="Submit"></div>
</form>

<button type="button" class="btn btn-warning" onClick="onclick=location.reload();location.href='/app/admin/products/list'">Skip</button>

{% endblock %}
