{% extends "base-admin.html" %}
{% block title %}Admin Products List{% endblock %}

{% block html_head %}
<style>
img {
  max-width: 100px;
}
@media only screen and (max-width: 600px) {
}
</style>
{% endblock %}

{% block content %}

<h1>Products</h1>

<table class="table table-striped">
<tr class="p-3 mb-2 bg-light text-dark">
  <td><div id="add_new_link"><a href="/app/admin/products/add-edit">+</a></div></td>
  <td>Name</td>
  <td>Description</td>
  <td>Images</td>
  <td>Inventory</td>
  <td>Active</td>
  <td>Price</td>
  <td>Keywords</td>
</tr>

{% for row in allrows %}
  {% set rowloop = loop %}
  <tr>
  {% for item in row %}
    {% if loop.index == 1 %}
      <td><a class="bg-light" href="/app/admin/products/add-edit?pid={{ item }}">{{ item }}</a></td>
    {% elif loop.index == 3 %}
      {% set desc_array = item.split(' ') %}
      <td>
        {%- for word in desc_array %}
          {%- if loop.index <= 10 %}
            {{ word }}
          {% endif -%}
        {% endfor -%} ...
      </td>
    {% elif loop.index == 4 %}
      <td>
        {% set image_array = item.split(',') %}
        <img src="/img/small/{{ image_array[1] }}" alt="" class="product_image"/>
        {% set image_array = item.split(',') %}
        {% for i in image_array %}
          <!-- {{ i }} -->
        {% endfor %}
      </td>
    {% elif loop.index == 8 %}
      <td>
        {% set keyword_array = item.split(',') %}
        {% for i in keyword_array %}
          {{ i }} <br/>
        {% endfor %}
      </td>
    {% elif loop.index < 9 %}
      <td{% if loop.index > 3 %}{% endif %}>{{ item }}</td>
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}

</table>
{% endblock %}
