{% extends "base-admin.html" %}
{% block title %}Admin View Registration{% endblock %}

{% block html_head %}
<style>
@media (min-width: 1200px) {
  .container {
    max-width: 1350px;
  }
}
</style>
{% endblock %}

{% block content %}
<h1>2020 Summer Camp Registration</h1>
<table class="table table-striped">
<tr class="p-3 mb-2 bg-light text-dark">

<td>rid</td>
<td>order_id</td>
<td>camper1_name</td>
<td>camper1_age</td>
<td>camper1_grade</td>
<td>camper2_name</td>
<td>camper2_age</td>
<td>camper2_grade</td>
<td>camper3_name</td>
<td>camper3_age</td>
<td>camper3_grade</td>
<td>parent_name</td>
<td>parent_address</td>
<td>parent_city</td>
<td>parent_state</td>
<td>parent_zip</td>
<td>parent_email</td>
<td>parent_phone</td>
<td>parent_em_name</td>
<td>parent_em_phone</td>
<td>pickup1_name</td>
<td>pickup1_phone</td>
<td>pickup2_name</td>
<td>pickup2_phone</td>
<td>session1</td>
<td>session2</td>
<td>treatment_permission</td>
<td>photo_release</td>
<td>signature</td>

</tr>

{% for row in allrows %}
  <tr>
    {% for item in row %}
      <td>{{ item }}</td>
    {% endfor %}
  </tr>
{% endfor %}

</table>

{% endblock %}
