{% extends "base-admin.html" %}
{% block title %}Admin Add/Edit Registration{% endblock %}

{% block html_head %}

<style>
input {
  margin-bottom: 20px;
}
#submit {
  margin-top: 25px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
</style>

{% endblock %}

{% block content %}

<form action="/app/admin/registration/add-edit" method="POST" enctype="multipart/form-data" name="add_edit_form" id="this_form">

{% if form %}
  {% for field in form %}
    {% if field.name not in ["treatment_permission", "photo_release", "signature"] %}
      {% if field.name not in ["rid", "submit"] %}
        {{ field.label(class="form-text text-muted") }}
	{% if field.name in ["order_id", "session_detail"] %}
	  <small>{{ field.description }}</small>
	{% endif %}
      {% endif %}
      {{ field(class="form-control") }}
    {% endif %}
  {% endfor %}
{% endif %}

{% if sql %}
  {{ sql }}
{% endif %}

</form>

<script>
document.getElementById("order_id").type = "text";
document.getElementById("session_detail").type = "text";
</script>

{% endblock %}
