{% extends "base-admin.html" %}
{% block title %}Admin View Orders{% endblock %}

{% block html_head %}
<style>
</style>
{% endblock %}

{% block content %}
<h1>Summary of Orders</h1>
<table class="table table-striped">
<tr class="p-3 mb-2 bg-light text-dark">
{% for i in ["title", "event date", 
  "order id", "event id", "create time", "email", 
  "first name", "last name", "quantity", "total", "paid"] %}

  {# "limit", "id", #}

  <td>{{ i }}</td>
{% endfor %}
</tr>
{% for order in orders %}
  <tr>
    {% for o in order %}
      {% if loop.index not in [3, 4] %}
        {% if loop.index == 6 %}
          <td>{{ o }}</td>
        {% else %}
          <td>{{ o }}</td>
        {% endif %}
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}
