{% extends "base-admin.html" %}
{% block title %}Admin View Signup{% endblock %}

{% block html_head %}
<style>
td, th {
  padding: 10px;
  border: 1px dashed LightGray;
}
th {
  background-color: LightGray;
  border: 1px dashed White;
}
</style>
{% endblock %}

{% block content %}

<h1>Signups</h1>

<p>
Quick links:
{% for data in signups %}
  {% for name, items in data.items()  %}
    <a href="#{{ name }}">{{ name }}</a>
  {% endfor %}{{ "-" if not loop.last }}
{% endfor %}
</p>

{% for data in signups %}

  {% for name, items in data.items()  %}

  <h3 id="{{ name }}">{{ name }}</h3>

    {% for item in items %}
      <p>
      {% for key, val in item.items() %}
        <b>{{ key }}</b>:
	{{ val.replace("%40", "@").replace("%3A", ":").replace("%21", "!").replace("%28", "(").replace("%29", ")").replace("%2B", "+").replace("%3B", ";").replace("%3A", ":").replace("%2F", "/") }}<br>
      {% endfor %}
      </p>
    {% endfor %}

  {% endfor %}

  <hr><hr>

{% endfor %}

{% endblock %}
