{% extends "base-admin.html" %}
{% block title %}Admin Add/Edit Events{% endblock %}

{% block html_head %}
<style>
/* specific css */
</style>
<!-- https://jqueryui.com/datepicker/ -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#edatetime" ).datepicker({ dateFormat: 'yy-mm-dd' });
} );
function appendTime() {
  var append_time = document.getElementById("append_time");
  var edatetime = document.getElementById("edatetime");
  edatetime.value = edatetime.value.split(' ')[0] + " " + append_time.value;
}
</script>
{% endblock %}

{% block content %}
<form action="/app/" method="POST" enctype="multipart/form-data" name="test_form" id="test_form">
{% for field in form %}
  {% if field.name != "eid" and field.name != "submit" %}
    {{ field.label }}
  {% endif %}
  {% if field.name == "edatetime" %}
    <div class="field">{{ field(autocomplete="off") }}</div>
    <div class="field">
      <input id="append_time" name="append_time" type="text" value="00:00:00" onblur="appendTime()">
    </div>
  {% else %}
    <div class="field">{{ field(autocomplete="off") }}</div>
  {% endif %}
{% endfor %}
<div><a href="/app/admin/events/list" onclick="hideAddNewEvent(); return false;">Cancel</a></div>
{% if form.eid.data %}
  <div><a href="/app/admin/events/delete?eid={{ form.eid.data }}" onclick="return confirm('Are you sure?');">Delete this event</a></div>
{% endif %}
</form>
{% endblock %}
