{% extends "base-admin.html" %}
{% block title %}Admin View Orders{% endblock %}

{% block html_head %}
<style>
@media (min-width: 1200px) {
  .container {
    max-width: 1350px;
  }
}
</style>
{% endblock %}

{% block content %}

<h1>Booking</h1>

<table class="table table-striped">

<tr class="p-3 mb-2 bg-light text-dark">
<td><div id="add_new_link"><a href="/app/admin/booking/add-edit">+</a></div></td>
{% for i in ["title", "event date", "email", 
  "first name", "last name", "quantity", "total", 
  "variable time", "extra data", "transaction id", 
  "buyer name", "buyer phone"] %}
  <td>{{ i }}</td>
{% endfor %}
</tr>

{% for order in orders %}
  <tr>
  <td><a href="/app/admin/booking/add-edit?id={{ order.id }}">{{ order.id }}</a></td>
  <td><a href="/app/admin/events/add-edit?eid={{ order.eid }}">{{ order.title }}</a></td>
  <!-- <td>{{ order.edatetime.strftime('%b %-d %Y %H:%M') }}</td> -->
  <td>{{ order.edatetime.strftime('%a %b %d %Y %I:%M %p')|replace(' 0', ' ') }}</td>
  <td>{{ order.email|replace("@", " @") }}</td>
  <td>{{ order.first_name }}</td>
  <td>{{ order.last_name }}</td>
  <td>{{ order.quantity }}</td>
  <td>{{ order.paid }}</td>
  <td>{{ order.variable_time }}</td>
  <td>
    {% if order.extra_data  == "not an event with scarf" %}
      None
    {% else %}
      {{ order.extra_data|replace("_", " ") }}
    {% endif %}
  </td>
  <td>{{ order.transaction_id }}</td>
  <td>{{ order.buyer_name }}</td>
  <td>{{ order.buyer_phone }}</td>
  </tr>
{% endfor %}

</table>

<p><a href="/app/admin/booking/list?view=past-events">Click here to see orders for events in the past</a></p>
{% endblock %}
