{% extends "base-admin.html" %}
{% block title %}Admin Products List{% endblock %}

{% set shop_visible = global_settings["shop"]["visible"] %}

{% block html_head %}
<style>
.product_image {
  width: 100px;
}
@media only screen and (max-width: 600px) {
}
</style>
{% endblock %}

{% block content %}

<h1>Products</h1>

<table>

<tr class="p-3 mb-2 bg-light text-dark">
  <td><div id="add_new_link"><a href="/app/admin/products/add-edit">+</a></div></td>
  <td>Name</td>
  <td>Description</td>
  <td>Images</td>
  <td>Inventory</td>
  <td>Active</td>
  <td>Price</td>
  <td>Keywords</td>
</tr>

{% for row in allrows %}

<tr>

  <td><a class="bg-light" href='/app/admin/products/add-edit?pid={{ row["pid"] }}'>{{ row["pid"] }}</a></td>
  <td>{{ row["name"] }}</td>
  <td>{{ row["description"] }}</td>
  {% set image_array = row["image_path_array"].split(',') %}
  <td><img src='/img/small/{{ image_array[1] }}' alt="" class="product_image"/></td>
  <td>{{ row["inventory"] }}</td>
  <td>{{ row["active"] }}</td>
  <td>{{ row["price"] }}</td>
  <td>{{ row["keywords_array"] }}</td>

</tr>

{% endfor %}

</table>

{% endblock %}
