{% extends "base-admin.html" %}
{% block title %}Admin Events List{% endblock %}

{% block html_head %}
<style>
img {
  max-width: 100px;
}
@media only screen and (max-width: 600px) {
  .extra_column {
    display: none;
  }
}
</style>
{% endblock %}

{% block content %}
<h1>Events</h1>
<table class="table table-striped">
<tr class="p-3 mb-2 bg-light text-dark">
  <td><div id="add_new_link"><a href="/app/admin/events/add-edit">+</a></div></td>
  <td>Date</td>
  <td>Title</td>
  <td class="extra_column">Duration</td>
  <td class="extra_column">Price</td>
  <td class="extra_column">Limit</td>
  <td class="extra_column">Location</td>
  <td class="extra_column">Image</td>
  <!-- <td class="extra_column">Description</td> -->
</tr>
{% for row in allrows %}
  {% set rowloop = loop %}
  <tr>
  {% for item in row %}
    {% if loop.index == 1 %}
      <td><a class="bg-light" href="/app/admin/events/add-edit?eid={{ item }}">{{ item }}</a></td>
    {% elif loop.index == 2 %}
      <td>{{ item.strftime('%a %b %d %I:%M %p')|replace(' 0', ' ') }}</td>
    {% elif loop.index == 8 %}
      <td class="extra_column"><img src="/img/small/{{ item }}"/></td>
    {% elif loop.index < 9 %}
      <td{% if loop.index > 3 %} class="extra_column"{% endif %}>{{ item }}</td>
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}
