{% extends "base-admin.html" %}
{% block title %}Admin Add/Edit Image{% endblock %}

{% block html_head %}
<style>
/* specific css */
</style>
<!-- https://jqueryui.com/datepicker/ -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#date" ).datepicker();
} );
</script>
{% endblock %}

{% block content %}
{% if event_data %}
  {% for k, v in event_data.items() %}
    <div>{{ k }}: {{ v }}</div>
  {% endfor %}
{% endif %}
<form action="/app/image/upload" method="POST" enctype="multipart/form-data" name="test_form" id="test_form">
{% for field in image_form %}
  {% if field.name != "eid" and field.name != "submit" %}
    {{ field.label }}
  {% endif %}
  <div class="field">{{ field(class="image_upload") }}</div>
{% endfor %}
</form>
<script>
document.getElementById("eid").value = "{{ eid.eid }}";
</script>
{% endblock %}
