{% extends "base-admin.html" %}
{% block title %}Admin Add/Edit Events{% endblock %}

{% block html_head %}
<style>
input, textarea, label {
  margin: 10px;
}
</style>
<!-- https://jqueryui.com/datepicker/ -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#edatetime" ).datepicker({ dateFormat: 'yy-mm-dd' });
} );
function appendTime() {
  var append_time = document.getElementById("append_time");
  var edatetime = document.getElementById("edatetime");
  edatetime.value = edatetime.value.split(' ')[0] + " " + append_time.value;
}
</script>
{% endblock %}

{% block content %}

<form action="/app/" method="POST" enctype="multipart/form-data" name="test_form" id="test_form">
{% for field in form %}
  {% if field.name != "eid" and field.name != "submit" and field.name != "image" %}
    {% if form.eid.data %}
      {{ field.label(class="form-text text-muted") }}
    {% endif %}
  {% endif %}
  {% if field.name == "edatetime" %}
    {{ field(autocomplete="off", class="form-control") }}
    {% if form.eid.data %}
      <label class="form-text text-muted" for="time">Time</label>
    {% endif %}
    <input id="append_time" name="append_time" type="text" placeholder="00:00:00" onblur="appendTime()" class="form-control"/>
  {% else %}
    {{ field(autocomplete="off", class="form-control") }}
  {% endif %}
{% endfor %}
</form>

<button type="button" class="btn btn-warning" onClick="onclick=location.reload();location.href='/app/admin/events/list'">Cancel</button>

{% if form.eid.data %}
  <button type="button" class="btn btn-danger">
    <a href="/app/admin/events/delete?eid={{ form.eid.data }}" onclick="return confirm('Are you sure?');">Delete</a>
  </button>
{% endif %}

{% if not form.eid.data %}
  <script>
  {% for field in form %}
    document.getElementById("{{ field.name }}").placeholder = "{{ field.name }}";
  {% endfor %}
{% endif %}
</script>

{% endblock %}
