{% extends "base-site.html" %}

{% block title %}Catalyst Creative Arts: Art Camp 2024 Registration{% endblock %}

{% block html_head %}
<style>
h3, h5 {
  padding-top: 20px;
}
#session_detail_box {
  text-align: center;
  padding: 20px;
}
.top-pad {
  padding-top: 10px;
}
#paypal-button-container {
  display: none;
}
#add_camper2, #add_camper3 {
  padding-top: 10px;
}
.total {
  background-color: LightGray;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
</style>
<script>var class_full = false;</script>
{% endblock %}

{% block content %}

<center>
<h3>Art Camp 2024 Registration & Release Form</h3>
</center>

{% if form %}
  {% if form.session_detail.data %}
    {% set session_name = form.session_detail.data %}
  {% elif session_detail %}
    {% set session_name = session_detail %}
  {% else %}
    <p style="background-color: red; color: white; padding: 10px; margin: 100px; 0 100px 0;">
      ERROR: (A) You must <a href="/art-camp.html" style="color: white;">choose a specific art camp</a>
    </p>
  {% endif %}
{% elif data and rid %}
  {% if data["session_detail"] %}
    {% set session_name = data["session_detail"] %}
  {% elif session_detail %}
    {% set session_name = session_detail %}
  {% else %}
    <p style="background-color: red; color: white; padding: 10px; margin: 100px; 0 100px 0;">
      ERROR: (B) You must <a href="/art-camp.html" style="color: white;">choose a specific art camp</a>
    </p>
  {% endif %}
{% endif %}

{% if session_detail %}

<div id="session_detail_box">

{% if camper_count and camper_count >= 16 %}
  CLASS IS FULL
  <script>var class_full = true;</script>
{% elif session_name == "art_camp_2024_XXX" or session_name == "art_camp_2024_XXX"%}
  CLASS IS CLOSED
  <script>var class_full = true;</script>
{% else %}
  <p><b>"Art Camp {{ session_name|replace("art_camp_2024_", "") }}"
  {% if session_name == "art_camp_2024_2" or session_name == "art_camp_2024_5" or session_name == "art_camp_2024_8" %}Ages 11 and up{% else %}Ages 6 and up{% endif %}</b></p>
  <p>Begins
    {% if session_name == "art_camp_2024_1" %}
    June 3-7
    {% elif session_name == "art_camp_2024_2" %}
    June 10-14
    {% elif session_name == "art_camp_2024_3" %}
    June 17-21
    {% elif session_name == "art_camp_2024_4" %}
    June 24-28
    {% elif session_name == "art_camp_2024_5" %}
    July 8-12
    {% elif session_name == "art_camp_2024_6" %}
    July 15-19
    {% elif session_name == "art_camp_2024_7" %}
    July 22-26
    {% elif session_name == "art_camp_2024_8" %}
    July 29 - Aug 2
    {% endif %}
  </p>
  <p>DAILY 8:30am-9am drop off, 9am Start, 12pm Finish, 12pm-12:30pm pick up</p>
  <p><span style="background-color: Beige; padding: 10px;">{% if camper_count %}{{ 15 - camper_count }}{% else %}15{% endif %} (of 15) spots left</span></p>
  <p>Price: $230</p>
  <p>$210 for 2nd family registrant</p>
{% endif %}

</div>

{% endif %}

{% if data and rid %}

<!--
{{ data|safe }}
-->

<!-- BELOW IS THE CONFIRM SCREEN -->

<form action="/checkout/" method="POST" name="registration_form" id="registration_form">

<input type="hidden" name="rid" id="rid" value="{{ rid }}"/>

<input type="hidden" name="event_title" value="Art Camp Registration 2024">

{% if session_name == "art_camp_2024_1" %}
  <input type="hidden" name="event_date" value="June 3-7 2024">
{% elif session_name == "art_camp_2024_2" %}
  <input type="hidden" name="event_date" value="June 10-14 2024">
{% elif session_name == "art_camp_2024_3" %}
  <input type="hidden" name="event_date" value="June 17-21 2024">
{% elif session_name == "art_camp_2024_4" %}
  <input type="hidden" name="event_date" value="June 24-28 2024">
{% elif session_name == "art_camp_2024_5" %}
  <input type="hidden" name="event_date" value="July 8-12 2024">
{% elif session_name == "art_camp_2024_6" %}
  <input type="hidden" name="event_date" value="July 15-19 2024">
{% elif session_name == "art_camp_2024_7" %}
  <input type="hidden" name="event_date" value="July 22-26 2024">
{% elif session_name == "art_camp_2024_8" %}
  <input type="hidden" name="event_date" value="July 29 - Aug 2 2024">
{% endif %}

<!-- TAKE EMAIL OFF THE PAGE CUZ CC PAGE COLLECTS IT -->

<input type="hidden" name="camper1_name" value="{{ data['camper1_name'] }}">
<input type="hidden" name="camper1_age" value="{{ data['camper1_age'] }}">
<input type="hidden" name="camper2_name" value="{{ data['camper2_name'] }}">
<input type="hidden" name="camper2_age" value="{{ data['camper2_age'] }}">
<input type="hidden" name="camper3_name" value="{{ data['camper3_name'] }}">
<input type="hidden" name="camper3_age" value="{{ data['camper3_age'] }}">
<input type="hidden" name="customer_name" value="{{ data['parent_name'] }}">
<input type="hidden" name="parent_address" value="{{ data['parent_address'] }}">
<input type="hidden" name="parent_city" value="{{ data['parent_city'] }}">
<input type="hidden" name="parent_state" value="{{ data['parent_state'] }}">
<input type="hidden" name="parent_zip" value="{{ data['parent_zip'] }}">
<input type="hidden" name="customer_phone" value="{{ data['parent_phone'] }}">
<input type="hidden" name="parent_em_name" value="{{ data['parent_em_name'] }}">
<input type="hidden" name="parent_em_phone" value="{{ data['parent_em_phone'] }}">
<input type="hidden" name="pickup1_name" value="{{ data['pickup1_name'] }}">
<input type="hidden" name="pickup1_phone" value="{{ data['pickup1_phone'] }}">
<input type="hidden" name="pickup2_name" value="{{ data['pickup2_name'] }}">
<input type="hidden" name="pickup2_phone" value="{{ data['pickup2_phone'] }}">

{% if data and data["session_detail"] %}
<input type="hidden" name="session_detail" id="session_detail" value="{{ data['session_detail'] }}"/>
{% endif %}

<div class="row">
<div class="col-sm-12 bg-light">
<h5>Confirm your information</h5>
</div>
</div>

<div class="row">
<div class="col-sm-4">
{% for k, v in data.items() %}
  {% if k.startswith('parent_name') or k.startswith('pickup1_name') %}</div><div class="col-sm-4">{% endif %}
  {% if k != "rid" and k != "order_id" and k != "submit" and k != "session_detail" %}
    {% if v and v != "0" %}
      {{ k }}: <span id="{{ k }}">{{ v }}</span><br/>
    {% endif %}
  {% endif %}
  {% if k == "camper3_age" %}
    number_of_campers: <span id="number_of_campers"></span><br>
  {% endif %}
{% endfor %}
</div>
</div>

<div class="total">Total: $<span id="total"></span></div>

<script>var page='confirm';</script>

<div class="row" id="edit_continue_row">
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-warning" onClick="edit(); return false;">Edit Info</button>
  </div>
  <div class="col-sm-6">
    <input type="hidden" name="total_cost" id="total_cost" value="">
    <input type="hidden" name="guest_quantity" id="guest_quantity" value="">
    <button type="button" class="btn btn-success" onClick="continuePay(); return false;">Proceed to checkout</button>
  </div>
</div>
</form>

{% endif %}

{% if form %}

<!-- BELOW IS THE INITIAL AND EDIT SCREEN -->

<form action="/registration/{{ registration_name }}/confirm" method="POST" enctype="text/plain" name="registration_form" id="registration_form">
{{ form.rid }}
{{ form.session_detail }}

{% if session_detail %}
<script>
document.getElementById("session_detail").value = "{{ session_detail|safe }}";
</script>
{% endif %}

<div class="row">
  <div class="col-sm-12">
    <h5>PARTICIPANT(S) INFORMATION</h5>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    {{ form.camper1_name.label(class="form-text text-muted") }}
    {{ form.camper1_name(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.camper1_age.label(class="form-text text-muted") }}
    {{ form.camper1_age(class="form-control") }}
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    {{ form.camper2_name.label(class="form-text text-muted") }}
    {{ form.camper2_name(class="form-control", placeholder="OPTIONAL") }}
  </div>
  <div class="col-sm-4">
    {{ form.camper2_age.label(class="form-text text-muted") }}
    {{ form.camper2_age(class="form-control") }}
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    {{ form.camper3_name.label(class="form-text text-muted") }}
    {{ form.camper3_name(class="form-control", placeholder="OPTIONAL") }}
  </div>
  <div class="col-sm-4">
    {{ form.camper3_age.label(class="form-text text-muted") }}
    {{ form.camper3_age(class="form-control") }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h5>PARENT/GUARDIAN INFORMATION</h5>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    {{ form.parent_name.label(class="form-text text-muted") }}
    {{ form.parent_name(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.parent_address.label(class="form-text text-muted") }}
    {{ form.parent_address(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.parent_city.label(class="form-text text-muted") }}
    {{ form.parent_city(class="form-control") }}
  </div>
</div>
  
<div class="row">
  <div class="col-sm-4">
    {{ form.parent_state.label(class="form-text text-muted") }}
    {{ form.parent_state(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.parent_zip.label(class="form-text text-muted") }}
    {{ form.parent_zip(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.parent_email.label(class="form-text text-muted") }}
    {{ form.parent_email(class="form-control") }}
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    {{ form.parent_phone.label(class="form-text text-muted") }}
    {{ form.parent_phone(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.parent_em_name.label(class="form-text text-muted") }}
    {{ form.parent_em_name(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.parent_em_phone.label(class="form-text text-muted") }}
    {{ form.parent_em_phone(class="form-control") }}
  </div>
</div>
  
<div class="row">
  <div class="col-sm-12">
    <h5>PERSON(S) AUTHORIZED TO PICK UP PARTICIPANT</h5>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-6">
    {{ form.pickup1_name.label(class="form-text text-muted") }}
    {{ form.pickup1_name(class="form-control") }}
  </div>
  <div class="col-sm-6">
    {{ form.pickup1_phone.label(class="form-text text-muted") }}
    {{ form.pickup1_phone(class="form-control") }}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    {{ form.pickup2_name.label(class="form-text text-muted") }}
    {{ form.pickup2_name(class="form-control") }}
  </div>
  <div class="col-sm-6">
    {{ form.pickup2_phone.label(class="form-text text-muted") }}
    {{ form.pickup2_phone(class="form-control") }}
  </div>
</div>

<div class="row top-pad">
  <div class="col-sm-12">
{{ form.treatment_permission }}
{{ form.treatment_permission.label }}<br/>
<small>In case of emergency and in the event that none of the emergency contacts can be reached, CATALYST CREATIVE ARTS will need signed authorization (below) to seek medical assistance for your child. I give permission to the CATALYST CREATIVE ARTS, its employees and designated representatives, to use whatever emergency (e.g., first aid, disaster evacuation) measures are judged necessary by them for the care and protection of my child while under supervision of the CATALYST CREATIVE ARTS. In case of medical emergency, I understand that my child will be transported to appropriate medical facilities by a local emergency unit for treatment if the local emergency resource (police or paramedics) deems it necessary. It is understood that in some medical situations, the staff will need to contact the local emergency resource before the parent, child's physician and/ or other emergency contacts acting on the parents' behalf.</small>
  </div>
</div>
    
<div class="row top-pad">
  <div class="col-sm-12">
{{ form.photo_release }}
{{ form.photo_release.label }}<br/>
<small>I, the undersigned, grant Catalyst Creative, LLC d/b/a CATALYST CREATIVE ARTS, permission to use any pictures taken in public view of myself individually, my child (participant(s) listed above), or any in which I (or the participant(s)) appear in whole or in part during After School Pottery Program. I understand that these pictures may be reproduced in print and electronic media specifically to promote CATALYST CREATIVE ARTS. I waive any right to inspect or approve said pictures, or any captions or accompanying texts that may be used in connection with them, or to approve the use to which said materials may be applied.</small>
  </div>
</div>

<div class="row top-pad">
  <div class="col-sm-12">
    {{ form.signature.label(class="form-text text-muted") }}
    {{ form.signature(class="form-control") }}
    <p><small>Typing your name into the input field above serves as your signature.</small></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.submit(class="form-control btn btn-success") }}
  </div>
</div>

</form>

<script>var page='add-edit';</script>

{% endif %}

<script>
if (class_full && class_full == true) {
  document.getElementById("registration_form").style.display = "none";
}

function calculate() {
  var camperNameLen = {};
  var total = 0;
  var number_of_campers = 0;
  var first_camper_price = 230;
  var more_camper_price = 210;
  for (i = 1; i <= 3; i++) {
    try {
      camperNameLen[i] = document.getElementById("camper"+i+"_name").innerHTML.length;
      console.log(camperNameLen[i]);
    } catch(err) {
      camperNameLen[i] = 0;
      console.log('fail'+camperNameLen[i]);
    }
    if (camperNameLen[i] > 0) {
      number_of_campers += 1;
      if (total >= 200) {
        total += more_camper_price;
      } else {
        total += first_camper_price;
      }
      console.log("total: " + total);
    }
  }

  document.getElementById("total").innerHTML = total;
  document.getElementById("number_of_campers").innerHTML = number_of_campers;
  document.getElementById("total_cost").value = total;
  document.getElementById("guest_quantity").value = number_of_campers;
  return total;
}

if (page == "confirm") {
  calculate();
}

function edit() {
  document.registration_form.action = "/registration/{{ registration_name }}/edit";
  document.registration_form.submit();
  return true;
}

function continuePay() {
  document.registration_form.submit();
  return true;
}
</script>

{% endblock %}
