<!doctype html>
<html lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">

<title>{% block title %}{% endblock %}</title>

{% block html_head %}{% endblock %}

<style>
.top-buffer { 
  /* padding: 10px 0 10px 0; */
  margin-top: 10px;
  border-bottom: 1px dashed LightGray;
}
table { width: 100%; }
td {
  border-bottom: 1px solid LightGray;
  border-right: 1px solid LightGray;
  padding: 5px;
  padding: 5px;
}
</style>

</head>

<body>
<div id="top"></div>

<div id="content">

<div class="container">

<div class="topnav text-center">
  <p><a href="/cca/home.html"><img src="/img/logo.png" class="img-fluid"/></a></p>

<nav class="navbar navbar-expand-sm bg-light navbar-light d-flex">
  <ul class="navbar-nav list-inline mx-auto justify-content-center">
  {% for i in ["Calendar", "Private-Events", "About/Contact", "Commissioned-Art", "After-School/Summer-Camp"] %}
    <li class="nav-item"><a class="nav-link" href="/cca/{{ i|replace('/', '-')|lower }}.html">{{ i }}</a></li>
  {% endfor%}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" onclick="navbardrop(); return false;" data-toggle="dropdown">Crafts/Services</a>
      <div class="dropdown-menu"  id="dropdown-menu">
      {% for i in ["Acrylic Painting", "Watercolor Painting", "Paint Your Pet", "Artist Guided Family Painting", "Alcohol Ink", "Fluid Art", "Handbuilt Pottery", "Fused Glass", "Leathercraft", "Resin Crafts", "Water Marbling"] %}
        {# "Paint your own pottery", "Specialty Classes", "Custom built" #}
        <a class="dropdown-item" href="/cca/{{ i|replace(' ', '-')|replace(',', '')|lower }}.html">{{ i }}</a>
      {% endfor %}
      </div>
    </li>
  </ul>
</nav>

</div><!-- close topnav -->

{% block content %}{% endblock %}

</div><!-- close container -->

<div id="footer" class="text-center bg-light top-buffer">
{% block footer %}
<div>400 E. Division St. Ste 100 Arlington, TX 76011 | (972) 446-0444</div>
<div><a href="mailto:INFO@CATALYSTCREATIVEARTS.COM">info@catalystcreativearts.com</a></div>
<a href="https://www.facebook.com/PaintingWithInfluence" alt="Facebook">Facebook</a> | 
<a href="https://www.twitter.com/PWI_Carrollton" alt="Twitter">Twitter</a> | 
<a href="hhtps://www.instagram.com/paintingwithinfluence" alt="Instagram">Instagram</a>
{% endblock %}
</div>

</div><!-- close content -->

<script>
function navbardrop() {
  var navbardrop_state = document.getElementById("dropdown-menu").style.display;
  //alert(navbardrop_state);
  if (navbardrop_state == "block") {
    navbardrop_state = "none";
  } else {
    navbardrop_state = "block";
  }
  document.getElementById("dropdown-menu").style.display = navbardrop_state;
}
</script>

</body>

</html>
