<!doctype html>
<html lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">

<title>{% block title %}{% endblock %}</title>

<script>
if (location.protocol !== 'https:') {
  location.replace(`https:${location.href.substring(location.protocol.length)}`);
}
</script>

{% block html_head %}{% endblock %}

<style>
.form-control {
  width: 90%;
}
</style>

</head>

<body>

<div class="alert alert-primary" role="alert">
  <a href="/app/admin/events/list">Events</a> |
  <a href="/app/admin/booking">Booking</a> |
  <a href="/app/admin/pages">Pages</a> |
  <a href="/gallery/admin.php" target="gallery">Gallery</a> |
  <a href="/home.html" target="site">Site</a>
</div>

<div id="content">

<div class="container">

<div id="content">
{% block content %}{% endblock %}
</div>

</div><!-- close container -->

<div id="footer">
{% block footer %}
<!-- Footer -->
{% endblock %}
</div>

</div><!-- close content -->


</body>

</html>
