<html>
<head>
<title>Events</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
a {
  color: Blue;
  text-decoration: none;
}
.sun, .mon, .tue, .wed, .thu, .fri, .sat, .noday {
  border-bottom: 1px solid LightGray;
  border-left: 1px solid LightGray;
  padding: 10px;
  margin: 10px;
}
.event a {
  background-color: LightGray;
  padding: 5px;
  margin: 5px;
}
#month2 {
  display: block;
}
#month3, #month4 {
  display: none;
}

</style>
</head>
<body>
<div id="app"><a href="/~catalystcreative/">/app/</a></div>

{{ html["html"]|safe }}

<script>
function nextMonth(next_month) {
  var this_month = next_month - 1;
  var next_month_html = document.getElementById("month"+next_month).innerHTML;
  document.getElementById("month2").innerHTML = next_month_html;
}
</script>

</body>
</html>
