<html>
<head>
<title>Events</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
a {
  color: Blue;
  text-decoration: none;
}
.sun, .mon, .tue, .wed, .thu, .fri, .sat, .noday {
  border-bottom: 1px solid LightGray;
  border-left: 1px solid LightGray;
  padding: 10px;
  margin: 10px;
}
.event a {
  background-color: LightGray;
  padding: 5px;
  margin: 5px;
}
</style>
</head>
<body>
<div id="app"><a href="/app/">/app/</a></div>

{{ html["html"]|safe }}

</body>
</html>
