{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Cart{% endblock %}

{% block html_head %}
<style>
.product_price, .product_total {
  padding-left: 40px;
  padding-right: 40px;
}
form, input {
  display: inline;
}
.product_image {
  max-width: 100%;
}
#cart {
  width: 50px;
}
#add_to_cart {
  margin: 10px;
  padding: 10px;
  width: 220px;
  border: 1px dashed LightGray;
  border-radius: 15px;
  background-color: HoneyDew;
}
#add_to_cart a {
  text-decoration: none;
}
#product_quantity_select {
  margin-top: 10px;
  max-width: 60px;
}
img.check {
  width: 35px;
  padding-left: 10px;
}
.form-control {
  display: inline;
}
.plus_minus {
  font-size: 20px;
}
#add_to_cart_text {
  margin-left: 3px;
  padding-left: 3px;
}
.top-buffer {
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
  border-bottom: 1px dashed LightGray;
}
#cart_sum_top, #cart_sum_bottom {
  text-align: right;
  border: 20px;
}
</style>
{% endblock %}

{% block content %}

<div class="row">

<div class="col-sm-1">
</div>

<div class="col-md-10">
  <div id="cart_sum_top">
    Checkout Subtotal: $
  </div>
  <div id="cart_contents">
  </div>
  <div id="cart_sum_bottom">
    Checkout Subtotal: $
  </div>
  <div>
  <a href="/app/products">More shopping</a>
  </div>
</div>

<div class="col-sm-1">
</div>

</div>

<script>
function make_request_get_list(session_id) {
  fetch('/cart-api/list', {
    method: 'POST',
    headers: {
      'content-type': 'application/json'
    },
    body: JSON.stringify({
      session_id: session_id
    })
  })
  .then(response=>response.json())
  .then(data=>{
    //console.log(data); 

    var arrLen = data.length;
    var product_total_sum = 0;
    var lines = '';
    for (var i = 0; i < arrLen; i++) {
      console.log(data[i]);
      obj = data[i];
      console.log(obj.name);
      product_image = '<img src="/img/small/' + obj.image_path_array.split(',')[1] + '" class="product_image"/>';
      product_name = obj.name.toLowerCase().replace(' ', '-');
      product_total = obj.price * obj.quantity;
      //line = product_image + ' ' + obj.name + ' price: $' + obj.price + ' quantity: ' + obj.quantity + ' $' + product_total;

      var line = `
<div class="row top-buffer">
<div class="col-sm-1"></div>
<div class="col-md-2">
<a href="">${product_image}</a>
</div>
<div class="col-lg-8">
<a href="/app/products/${product_name}/${obj.pid}"><h3>${obj.name}</h3></a>
<span class="product_price">$${obj.price}</span>
<a href="#" onclick="plusMinus(-1); return false;" class="plus_minus">-</a>
<form action="" id="product_quantity_form">
<input type="text" name="quantity" id="product_quantity_select" class="form-control" value="${obj.quantity}"/>
</form>
<a href="#" onclick="plusMinus(1); return false;" class="plus_minus">+</a>
<span class="product_total">$${product_total}</span>
</div>
<div class="col-sm-1"></div>
</div>
`;

      lines += line;
      product_total_sum += product_total;
    }
    document.getElementById("cart_sum_top").innerHTML += product_total_sum;
    document.getElementById("cart_contents").innerHTML = lines;
    document.getElementById("cart_sum_bottom").innerHTML += product_total_sum;
  })
}

function getCartList() {
  // FIRST CHECK IF USER HAS SESSION COOKIE
  var session_id = document.cookie.split("=")[1];
  if (session_id) {
    console.log(session_id)
    // MAKE A REQUEST TO THE NEW CART API
    console.log("request to cart api for list");
    make_request_get_list(session_id);
  } else {
    console.log("No session_id");
  }
}

getCartList();

function plusMinus(n) {
  v = document.getElementById("product_quantity_select").value;
  x = (Number(v) + Number(n));
  document.getElementById("product_quantity_select").value = x;
  return false;
}

</script>


{% endblock %}
