{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Cart{% endblock %}

{% block html_head %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="row">

<div class="col-sm-1">
</div>

<div class="col-md-10">
  <div id="cart_contents">
  </div>
</div>

<div class="col-sm-1">
</div>

</div>

<script>
function make_request_get_list(session_id) {
  fetch('/cart-api/list', {
    method: 'POST',
    headers: {
      'content-type': 'application/json'
    },
    body: JSON.stringify({
      session_id: session_id
    })
  })
  .then(response=>response.json())
  .then(data=>{
    //console.log(data); 

    var arrLen = data.length;
    for (var i = 0; i < arrLen; i++) {
      console.log(data[i]);
      //x = data[i];
      //console.log(x.name);
    }

    document.getElementById("cart_contents").innerHTML = data.session_id;
  })
}

function getCartList() {
  // FIRST CHECK IF USER HAS SESSION COOKIE
  var session_id = document.cookie.split("=")[1];
  if (session_id) {
    console.log(session_id)
    // MAKE A REQUEST TO THE NEW CART API
    console.log("request to cart api");
    make_request_get_list(session_id);
  } else {
    console.log("No session_id");
  }
}

getCartList();
</script>


{% endblock %}
