{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Community Events{% endblock %}
{% block html_head %}

<style>
.community_image {
  width: 175px;
}
.bigger_text {
	font-size: 135%;
}
h2 {
  font-size: 1.6rem;
}
#class-option-box, #submit, #total {
  display: none;
}
#total {
  padding: 10px;
}
#customer_name, #customer_phone {
  max-width: 400px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 401px) {
   .art-brew {
   font-size: 150px;
   padding-top: 25px;
   }
   #comm-events-top {
   width: 100%;
   height: 256px;
   background-image: url('/img/cultural-district.jpg');
   margin-top: 10px;
   margin-bottom: 10px;
   }
}

@media only screen and (max-width: 400px) {
   .art-brew {
   font-size: 50px;
   padding-top: 5px;
   }
   #comm-events-top {
   width: 100%;
   /* height: 250px; */
   /* background-image: url('/img/cultural-district-small.jpg'); */
   /* margin-top: 10px; */
   /* margin-bottom: 10px; */
   }
   .comm_event_image {
	width: 100%;
	max-width: 350px;
   }
}

.comm_event_image {
	max-width: 350px;
}

</style>

<!--
<link rel="preload" as="style" href='/wheel-wars-promo-400.mp4'>
-->

{% endblock %}

{% block content %}

<center>
<h1 class="art-brew">Community Events</h1>
<div style="align: center; max-width: 450px;">
  It's our mission to build arts culture in our community through creative experience.
  Arts events are a great way for people to engage with the art community and learn about the artists.
</div>
</center>


<center>
<h3 style="padding: 20px;">Upcoming community events:</h3>
</center>


{% for event in events %}

  <div class="row event_row top-buffer date_{{ event.edatetime.strftime('%Y-%m-%d') }}" id="eid_{{ event.eid }}">
    <div class="col-sm-1">
    </div>
    <div class="col-md-4">

      {% if "private event" in event.title|lower or "private event" in event.description|lower %}
   {% set private_event = "True" %}
      {% else %}
   {% set private_event = "False" %}
      {% endif %}

      {% if private_event == "True" %}
   <img alt="{{ event.image }}" src="/img/small/{{ event.image }}" class="event_image"/>
      {% else %}
   <a href="/event/{{ event.eid }}.html"><img alt="{{ event.image }}" src="/img/small/{{ event.image }}" class="event_image"/></a>
      {% endif %}

    </div>
    <div class="col-md-6">
      {% if event.eid == 964 or "gift card" in event.title.lower() %}
      {% else %}
   <h2>{{ event.edatetime.strftime('%a %b %d, %Y at %I:%M %p')|replace(' 0', ' ')|replace(':00', '') }}</h2>
      {% endif %}
      <h3>

      {% if private_event == "True" %}
   {{ event.title }}
      {% else %}
   <a href="/event/{{ event.eid }}.html">{{ event.title }}</a>
      {% endif %}

      </h3>
      <div>
   {# event.description|safe #}
   {% set event_desc = event.description.split('\n') %}
   {% for e in event_desc %}
     {% if e.startswith("http") %}
  <a href="{{ e }}">Buy tickets</a>
     {% else %}
  {{ e|safe }}
     {% endif %}
   {% endfor %}

      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

{% endfor %}

<hr>

    <center>
    <h3 style="padding: 20px;">Recent community events:</h3>
    </center>

    <div class="row">

    <div class="col-sm-4">


    <h4>November 1, 2024</h4>
    <a href="/event/1235.html">
    <h5>Eclipse Pottery Exhibition</h5>
    <img alt="Eclipse Pottery Exhibition" src="/img/eclipse-pottery-2024.jpg" class="event_image"/>
    </a>


    </div>
    <div class="col-sm-4">


    <h4>October 12, 2024</h4>
    <a href="/paint-wars-2024.html">
    <h5>Paint Wars! 2024</h5>
    <img src="/img/small/20230617_205634-01.jpeg" class="event_image">
    </a>


    </div>
    <div class="col-sm-4">


    <h4>April 2024</h4>
    <a href="/mural-2024.html">
    <h5>Local artist mural series</h5>
    <img src="/mural-2024/img/small/20240412_133312.jpg" class="event_image">
    </a>


    </div>

    </div>

    <div class="row" style="padding-top: 10px; margin-top: 10px; border-top: 1px dashed LightGray;">

    <div class="col-sm-4">


    <h4>March 30, 2024</h4>
    <a href='/wheel-wars-2024.html'>
    <h5>Wheel Wars!</h5>
    <img src="/img/wheel-wars-trophy.gif" class="event_image">
    </a>


    </div>
    <div class="col-sm-4">


    <h4>Jun 11, 2020</h4>
    <h5>Downtown Arlington Urban Market</h5>
    <img src="/img/market-mini-gnome.jpg" class="event_image">


    </div>
    <div class="col-sm-4">

    <!-- third column -->

    </div>
    <div class="col-sm-4">

    </div>

    </div>

<!--
<center>
<video controls>
  <source src="/wheel-wars-promo-400.mp4" type="video/mp4">
  Your browser does not support the video.
</video>
</center>
-->


{% endblock %}
