<html>
<head>
<style>
form div {
  padding: 5px;
}
{% if data %}
#test_form {
  display: none;
}
{% endif %}
.event_details {
  margin-left: 10px;
}
</style>
</head>
<body>

<form action="/app" method="POST" enctype="multipart/form-data" name="test_form" id="test_form">
{% for field in form %}
  <div>{{ field.label }} {{ field }}</div>
{% endfor %}
<div><a href="" onclick="hideAddNewEvent(); return false;">Cancel</a></div>
</form>

<p id="add_new_link"><a href="" onclick="showAddNewEvent(); return false;">Add New Event</a></p>

{% if data %}
  {% for key, val in data.items() %}
    <div class="event_id">{{key}} <a href="/app/admin/events/edit?eid={{key}}">Edit</a></div>
    {% for k, v in val.items() %}
      <div class="event_details">{{k}}: {{v}}</div>
    {% endfor %}
  {% endfor %}
{% endif %}

<script>
function showAddNewEvent() {
  document.getElementById("test_form").style.display = "block";
  document.getElementById("add_new_link").style.display = "none";
}
function hideAddNewEvent() {
  document.getElementById("test_form").style.display = "none";
  document.getElementById("add_new_link").style.display = "block";
}
</script>
</body>
</html>
