<html>
<head>
<style>
div {
  padding: 5px;
}
#test_form {
  display: none;
}
</style>
</head>
<body>

<form action="/app" method="POST" enctype="multipart/form-data" name="test_form" id="test_form">
<div><input type="text" name="date_time" value="2020-02-01 10:00"/></div>
<div><input type="text" name="one"/></div>
<div><input type="text" name="two"/></div>
<div><textarea name="three"></textarea></div>
<div><input type="submit" name="submit"/> <a href="" onclick="hideAddNewEvent(); return false;">Cancel</a></div>
</form>

<p id="add_new_link"><a href="" onclick="showAddNewEvent(); return false;">Add New Event</a></p>

{% for key, val in data.items() %}
  <b>{{key}}</b><br/>
  {% for k, v in val.items() %}
    {{k}}: {{v}}<br/>
  {% endfor %}
{% endfor %}

<script>
function showAddNewEvent() {
  document.getElementById("test_form").style.display = "block";
  document.getElementById("add_new_link").style.display = "none";
}
function hideAddNewEvent() {
  document.getElementById("test_form").style.display = "none";
  document.getElementById("add_new_link").style.display = "block";
}
</script>
</body>
</html>
