{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts {{ gallery.name }} Gallery{% endblock %}

{% block html_head %}
<style>
@media only screen and (min-width: 601px) {
  .gallery_image {
    max-width: 210px;
  }
}
@media only screen and (max-width: 600px) {
  .gallery_image {
    width: 100%;
    max-width: 350px;
  }
}
</style>
{% endblock %}

{% block content %}
<!-- {{ images|safe }} -->
<h1 class="text-center">{{ gallery.name }}</h1>
{% if gallery.comment|safe != "None" %}
  <p>{{ gallery.comment|safe }}</p>
{% endif %}
<center>
<div class="row">
{% for i in images %}
  <div class="col-sm">
  <img class="gallery_image" src="/gallery/{{ i[5]|replace('./', '')|replace('.jpg', '_small.jpg')|replace('.png', '_small.png') }}"/><br/>{{ i[2] }}
  </div>
{% endfor %}
</div>
</center>
{% endblock %}

