{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Home{% endblock %}

{% block html_head %}
<style>
.event_image {
  max-width: 100%;
}
.event_item {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 110%;
}
.event_item:nth-child(odd) {
  background-color: WhiteSmoke;
  border-top: 1px dashed LightGray;
  border-bottom: 1px dashed LightGray;
}
.youtube_embed {
  /* width: 340px; */
  width: 247px;
  /* height: 191px; */
  height: 139px;
}
h1, h2 {
  font-size: 20px;
  padding 5px;
  margin 5px;
}
.text_align_right {
  text-align: right;
  background-color: HoneyDew;
}
#month1, #month2, #month3, #month4, #month5, #month6 ,
#month7, #month8, #month9, #month10, #month11, #month12 {
  display: none;
}
#next_link {
  display: inline;
}
#prev_link {
  display: none;
}
th {
  border-bottom: 1px solid LightGray;
  font-size: 85%;
}
td {
  border-bottom: 1px solid LightGray;
  border-right: 1px solid LightGray;
  padding: 5px;
  padding: 5px;
}
td:first-child {
  border-left: 1px solid LightGray;
}
table {
  width: 100%;
}
th.month {
  font-size: 150%;
  padding: 0 0 5px 0;
}
.logo {
  max-width: 100%;
}
.gift_cert {
  width: 30px;
}
.dark_orange {
  background-color: BurlyWood;
  /* opacity: 0.5; */
  margin: 10px;
  padding: 5px 20px 5px 20px;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 5px;
}
.dark_orange a {
  color: White;
  font-size: 20px;
}
mark {
  background-color: Yellow;
}
.gold {
  background-color: Gold;
  padding-left: 10px;
}
.honey_dew {
  background-color: HoneyDew;
  padding: 10px;
}
#home_gallery_backward {
  display: none;
  font-size: 200%;
}
#home_gallery_forward {
  font-size: 200%;
}
.home_sample_activity {
  text-align: center;
  /*
  writing-mode: vertical-rl;
  text-orientation: mixed;
  */
}
@media only screen and (min-width: 601px) {
  .img250 {
    width: 250px;
  }
  .home-gallery {
    max-width: 175px;
  }
  .vertical_text {
    padding: 10px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}
@media only screen and (max-width: 600px) {
  .home-gallery {
    padding-bottom: 10px;
  }
  .dark_orange {
    padding: 0px;
  }
  .dark_orange a {
    font-size: 16px;
  }
  .youtube_embed {
    width: 315px;
    height: 177px;
  }
}
.gift_card_border {
    /* width: 200px;
    height: 126px; */
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(155, 155, 155) 2px 3px 6px 0px;
}
</style>
{% endblock %}

{% block content %}

<div class="row top-buffer">

  <div class="col-sm-1">
  </div>

  <div class="col-md-3">

    <!-- first column start -->

    <!-- <h2><a href="/event/587.html">Holiday Candlelight Jazz Sat Dec 18, 2021 at 7:30 PM</a></h2>
    <a href="/event/587.html"><img src="/img/jazz-graphic-2021-12.jpg" class="event_image"></a>

    <hr>
    <hr> -->

    {% if next_event %}
    <h2>
    <a href="/event/{{ next_event.eid }}.html">
    Next Event:<br>
    {{ next_event.edatetime.strftime('%a %b %d at %I:%M %p')|replace(' 0', ' ') }}<br>
    {{ next_event.title }}
    </a>
    </h2>
    <a href="/event/{{ next_event.eid }}.html">
      <img alt="{{ next_event.image }}" src="/img/small/{{ next_event.image }}" class="event_image"/>
    </a>
    <hr>
    <hr>
    {% endif %}

    <h2>
    <a href="/about-us.html">
    Holiday Parties:
    We are booking Holiday Parties! Call or email us. We have wonderful neighbors that can help you with catering!
    </a>
    </h2>
    <a href="/about-us.html">
      <img src="/img/holiday-parties-2021.jpg" class="event_image">
    </a>
    <hr>
    <hr>

    <!-- first column end -->

  </div>
  <div class="col-sm-3">

    <!-- second column start -->

    <h2>
    <a href="/shop/">
    Visit our online store:<br>
    Handmade water marbled silk scarves and hand-knit decorative stockings
    </a>
    </h2>
    <a href='/shop'><img src='/img/scarves-shop-ig.jpg' class='event_image'></a>

    <hr>
    <hr>

  {% if events_tagged_home %}
  {% for event in events_tagged_home %}
    <h2>
    <a href="/event/{{ event.eid }}.html" class="event_link">
    {{ event.title }}
    {{ event.edatetime.strftime('%a %b %d at %I:%M %p')|replace(' 0', ' ') }}
    </a>
    </h2>
    <a href="/event/{{ event.eid }}.html" class="event_link">
      <img alt="{{ event.image }}" src="/img/small/{{ event.image }}" class="event_image"/>
    </a>
    <hr>
    <hr>
  {% endfor %}
  {% endif %}

    <!-- <div id="paper_calendar"></div> -->
    {# calendar.html|safe #}

    <!-- second column end -->

  </div>
  <div class="col-sm-3">

    <!-- third column start -->

    <div id="event_list">
    <div><h2>Next 7 events:</h2></div>
    {{ event_list_html|safe }}
    <div><a href="/calendar.html">See full list of events</a></div>
    </div>

    <hr>
    <hr>

    <h2><a href="https://www.paypal.com/us/gifts/business/aymlzmbnverlj-catalystcreativearts?fbclid=IwAR0OBel2FRHd1SURYZEprYVqsjTDh8D3JT_w4zd3IBDTTMPl0jU09460S8s">Gift cards now available</a></h2>

    <a href="https://www.paypal.com/us/gifts/business/aymlzmbnverlj-catalystcreativearts?fbclid=IwAR0OBel2FRHd1SURYZEprYVqsjTDh8D3JT_w4zd3IBDTTMPl0jU09460S8s"><img src="/img/gift-card.jpg" class="event_image gift_card_border"></a>

    <div>Interested in sending someone a gift to come create with us? Gift certificates are available for purchase through PayPal, 
       over the phone and in person at our studio and may be redeemed for any of our services.</div>

    <hr>
    <hr>

    <!-- third column end -->

  </div>

  <div class="col-sm-2">
  </div>

</div>

<script>
var home_gallery_image_list = [
{% for i in images %}
  "/gallery/{{ i[5]|replace('./', '')|replace('.jpg', '_small.jpg')|replace('.png', '_small.png') }}"{{ "," if not loop.last }}
{% endfor %}
]

function slide_gallery(direction) {
  if (direction == "forward") {
    page += 1;
  } else if (direction == "backward") {
    page -= 1;
  } else {
    page = 1;
  }
  console.log('page: '+page);
  if (page == 1) {
    backward_display = "none";
  } else {
    backward_display = "inline";
  }
  document.getElementById("home_gallery_backward").style.display = backward_display;
  var start = (page - 1) * 5;
  console.log('start: '+start);
  var n = start;
  for (var i = 0; i < 5; i++) {
    document.getElementById("slide_"+i).src = home_gallery_image_list[n];
    n++;
  }
}

var d = new Date();
var this_month = d.getMonth()+1;
console.log("this_month: "+this_month);
function showMonth(show_month) {
  console.log("show_month: "+show_month);
  var show_month_html = document.getElementById("month"+show_month).innerHTML;
  document.getElementById("paper_calendar").innerHTML = show_month_html;
  if (show_month != this_month) {
    document.getElementById("prev_link").style.display = "inline";
  }
  if (show_month == this_month+3) {
    document.getElementById("next_link").style.display = "none";
  }
}
showMonth(this_month);
</script>

{% endblock %}
