{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts{% endblock %}

{% set shop_visible = global_settings["shop"]["visible"] %}

{% block html_head %}
<style>
hr {
  height: 10px;
  background-color: LightGray;
}
.home_caption {
  font-family: 'Cutive-Regular', serif;
  padding: 0 10px 0 10px;
}

.home_caption a:hover {
  text-decoration-color: LightGray;
}

.home_section_label { 
  font-size: 90%;
  color: #336699;
}
.home_event_date {
  font-size: 90%;
  color: DarkGoldenRod;
}
.home_event_title {
  font-size: 90%;
  color: #303030;
}

.event_image {
  max-width: 100%;
}
.event_item {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 110%;
}
.event_item:nth-child(odd) {
  background-color: WhiteSmoke;
  border-top: 1px dashed LightGray;
  border-bottom: 1px dashed LightGray;
}
.youtube_embed {
  width: 238px;
  height: 500px;
  /* width: 340px; */
  /* width: 247px; */
  /* height: 191px; */
  /* height: 139px; */
}
h1, h2 {
  font-size: 20px;
  padding 5px;
  margin 5px;
}
.text_align_right {
  text-align: right;
  background-color: HoneyDew;
}
#month1, #month2, #month3, #month4, #month5, #month6 ,
#month7, #month8, #month9, #month10, #month11, #month12 {
  display: none;
}
#next_link {
  display: inline;
}
#prev_link {
  display: none;
}
th {
  border-bottom: 1px solid LightGray;
  font-size: 85%;
}
td {
  border-bottom: 1px solid LightGray;
  border-right: 1px solid LightGray;
  padding: 5px;
  padding: 5px;
}
td:first-child {
  border-left: 1px solid LightGray;
}
table {
  width: 100%;
}
th.month {
  font-size: 150%;
  padding: 0 0 5px 0;
}
.logo {
  max-width: 100%;
}
.gift_cert {
  width: 30px;
}
.dark_orange {
  background-color: BurlyWood;
  /* opacity: 0.5; */
  margin: 10px;
  padding: 5px 20px 5px 20px;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 5px;
}
.dark_orange a {
  color: White;
  font-size: 20px;
}
mark {
  background-color: Yellow;
}
.gold {
  background-color: Gold;
  padding-left: 10px;
}
.honey_dew {
  background-color: HoneyDew;
  padding: 10px;
}
#home_gallery_backward {
  display: none;
  font-size: 200%;
}
#home_gallery_forward {
  font-size: 200%;
}
.home_sample_activity {
  text-align: center;
  /*
  writing-mode: vertical-rl;
  text-orientation: mixed;
  */
}
@media only screen and (min-width: 601px) {
  .img250 {
    width: 250px;
  }
  .home-gallery {
    max-width: 175px;
  }
  .vertical_text {
    padding: 10px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}
@media only screen and (max-width: 600px) {
  .home-gallery {
    padding-bottom: 10px;
  }
  .dark_orange {
    padding: 0px;
  }
  .dark_orange a {
    font-size: 16px;
  }
  .youtube_embed {
    /* width: 315px; */
    /* height: 177px; */
    width: 315px;
    height: 620px;
  }
}
.gift_card_border {
    /* width: 200px;
    height: 126px; */
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(155, 155, 155) 2px 3px 6px 0px;
}
</style>
{% endblock %}

{% block content %}


<div class="row top-buffer">

  <div class="col-md-3">

    <!-- first column start -->

    <div class="home_caption">
    <h2>
    <a href="/after-school-pottery.html">
    <div class="home_event_date">Weekly Wednesday</div>
    <div class="home_section_label">After School Pottery</div>
    <div class="home_event_title">Jan 15 thru Feb 19</div>
    </a>
    </h2>
    </div>
    <a href="/after-school-pottery.html">
      <img alt="" src="/img/small/InShot_20241105_153401597.jpg" class="event_image"/>
    </a>
    <hr>
 
    <!--
    <div class="home_caption">
    <h2>
    <a href="/event/1235.html">
    <div class="home_section_label">Eclipse Pottery Exhibition</div>
    <div class="home_event_date">Nov 1-10, 2024</div>
    <div class="home_event_title">Please join us as we celebrate 4 local artists displaying their ceramics</div>
    </a>
    </h2>
    </div>
    <a href="/event/1235.html">
      <img alt="Eclipse Pottery Exhibition" src="/img/eclipse-pottery-2024.jpg" class="event_image"/>
    </a>
    <div class="home_caption">
    <div class="home_gallery_hours">
    <p style="padding: 10px 0 0 10px">Eclipse gallery hours:</p>
    <p style="padding-left: 10px">
    Fri 11/1 - 6-9:30pm<br>
    Sat 11/2 - 2-8pm<br>
    Sun 11/3 - 12-4pm<br>
    Mon 11/4 - 5-8pm<br>
    Tue 11/5 - 5-8pm<br>
    Wed 11/6 - 5-8pm<br>
    Thu 11/7 - 5-8pm<br>
    Fri 11/8 - 5-9:30pm<br>
    Sat 11/9 - 2-8pm<br>
    Sun 11/10 - 12-4pm
    </p>
    </div>
    </div>
    <hr>
    -->
 

    {% if next_event %}
    <div class="home_caption">
    <h2>
    <a href="/event/{{ next_event.eid }}.html">
    <div class="home_section_label">Next Event</div>
    <div class="home_event_date">{{ next_event.edatetime.strftime('%a %b %d at %I:%M %p')|replace(' 0', ' ')|replace(':00', '') }}</div>
    <div class="home_event_title">{{ next_event.title }}</div>
    </a>
    </h2>
    </div>
    <a href="/event/{{ next_event.eid }}.html">
      <img alt="{{ next_event.image }}" src="/img/small/{{ next_event.image }}" class="event_image"/>
    </a>
    <hr>
    {% endif %}


    {% if events_tagged_home %}
    {% for event in events_tagged_home %}
    <div class="home_caption">
    <h2>
    <a href="/event/{{ event.eid }}.html" class="event_link">
    <div class="home_section_label">Coming Soon</div>
    <div class="home_event_date">{{ event.edatetime.strftime('%a %b %d at %I:%M %p')|replace(' 0', ' ')|replace(':00', '') }}</div>
    <div class="home_event_title">{{ event.title }}</div>
    </a>
    </h2>
    </div>
    <a href="/event/{{ event.eid }}.html" class="event_link">
      <img alt="{{ event.image }}" src="/img/small/{{ event.image }}" class="event_image"/>
    </a>
    <hr>
    {% endfor %}
    {% endif %}


    <!--
    <div class="home_caption">
    <h2>
    <a href="/event/964.html">
    <div class="home_section_label">Gift Cards</div>
    </a>
    </h2>
    <a href='/event/964.html'>
      <img src='/img/small/CCA_DOTS-02.jpeg' class='event_image'>
    </a>
    </div>
    <hr>
    -->


    <!--
    <div class="home_caption">
    <h2>
    <a href="/event/1019.html">
    <div class="home_section_label">Handbuilt Pottery Vase</div>
    <div class="home_event_date">2 Saturday Workshop</div>
    <div class="home_event_title">Sep 9 & 16 at 1pm</div>
    </a>
    </h2>
    </div>
        <a href="/event/1019.html">
        <img src="/img/handbuilt-pottery-vase.gif" class="event_image">
        </a>
        <center class="home_event_title"><a href="https://www.youtube.com/embed/ycTQr45zFII">See more on YouTube</a></center>
    <hr>
    -->


    <!--
    <div class="home_caption">
    <h2>
    <a href="/event/781.html">
    <div class="home_section_label">3 Wednesdays Workshop</div>
    <div class="home_event_date">Relief Block Printmaking</div>
    <div class="home_event_title"></div>
    </a>
    </h2>
    </div>
    <a href="/event/781.html">
      <img src="/img/small/20200707_135954-2.jpg" class="event_image">
    </a>
    <hr>
    -->


    <div class="home_caption">
    <h2>
    <a href="/wheel-wars-2025.html">
    <div class="home_section_label">Wheel Wars!</div>
    </a>
    </h2>
    </div>
    <a href='/wheel-wars-2025.html'>
    <img src="/img/wheel-wars-2024-trophy.jpg" class="event_image">
    </a>
    <hr>


    <!-- first column end -->

  </div>
  <div class="col-md-3">

    <!-- second column start -->

    <!--
    <div class="home_caption">
    <h2>
    <a href="/art-camp.html">
    <div class="home_section_label">Art Camp 2024</div>
    <div class="home_event_date">Registration open</div>
    </a>
    </h2>
    </div>
    <a href='/art-camp.html'>
      <img src='/img/art-camp/2023/art-camp-2023-07.jpg' class='event_image'>
    </a>
    <hr>
    -->


    <div class="home_caption">
    <h2>
    <a href="/pottery-lessons.html">
    <div class="home_section_label">Private Pottery Wheel Lesson</div>
    </a>
    </h2>
    </div>
    <a href="/pottery-lessons.html">
      <img alt="pottery lessons" src="/img/pottery-promo-2024-1.jpg" class="event_image"/>
    </a>
    <hr>


    <!--
    <div class="home_caption">
    <h2>
    <a href="/shop/">
    <div class="home_section_label">Visit Our Online Store</div>
    <div class="home_event_date">Handmade silk scarves & more</div>
    </a>
    </h2>
    </div>
    <a href='/shop'>
      <img src='/img/scarves-shop-ig.jpg' class='event_image'>
    </a>
    <hr>
    -->

    <!--
    {% if random_product %}
    <div class="home_caption">
    <h2>
    <a href="/shop/product/{{ random_product.pid }}">
    <div class="home_section_label">Shop the Online store</div>
    <div class="home_event_date">{{ random_product.name }} ${{ random_product.price }}</div>
    <img src="/img/small/{{ random_product.image_path_array.split(",")[1] }}" class='event_image'>
    </h2>
    </a>
    </div>
    <hr>
    {% endif %}
    -->


    <div class="home_caption">
    <h2>
    <a href="/mural-2024.html">
    <div class="home_section_label">Local Artist Mural Series</div>
    <div class="home_event_date"><i>Rein Free</i></div>
    <div class="home_event_title">by Trey Wilder</div>
    </a>
    </h2>
    </div>
    <a href="/mural-2024.html">
      <img src="/mural-2024/img/small/20240412_133312.jpg" class="event_image">
    </a>
    <hr>


    <!-- second column end -->


  </div>
  <div class="col-md-3">

    <!-- third column start -->

    <!--
    <div class="home_caption">
    <h2>
    <a href="https://arlington.market">
    <div class="home_section_label">Downtown Arlington Urban Market</div>
    <div class="home_event_date">2nd Thursday of each month</div>
    <div class="home_event_title">Next date: Jun 9</div>
    </a>
    </h2>
    </div>
    <a href="https://arlington.market">
      <img src="/img/market-mini-gnome.jpg" class="event_image">
    </a>
    <hr>
    -->


    <!--
    <div class="home_caption">
    <h2>
    <div class="home_section_label">Crafts Gallery Spotlight</div>
    <div class="home_event_title"><a href="/{{ random_gallery["category_path"] }}.html">{{ random_gallery["name"] }}</a></div>
    </h2>
    <a href="/{{ random_gallery["category_path"] }}.html">
      <img src="{{ random_gallery["image_file"] }}" class='event_image'>
    </a>
    <h2>
    <a href="/crafts-gallery.html">
    <div class="home_event_title" style="padding-top: 10px;">See all crafts galleries</div>
    </a>
    </h2>
    </div>
    <hr>
    -->

    <!--
    <div class="home_caption">
    <h2>
    <a href="/paint-wars.html">
    <div class="home_section_label">Paint Wars! 2024</div>
    <div class="home_event_date">Sat Oct 12, 2024 6PM</div>
    <div class="home_event_title">Hosted By Growl Records and Division Brewing</div>
    </a>
    </h2>
    </div>
    <a href="/paint-wars.html">
      <img src="/img/small/20230617_205634-01.jpeg" class="event_image">
    </a>
    <hr>
    -->


    <div class="home_caption">
    <h2>
    <a href="/art-camp.html">
    <div class="home_section_label">Art Camp 2025</div>
    <div class="home_event_date">Signup now open</div>
    </a>
    </h2>
    <a href='/art-camp.html'>
      <img src='/img/art-camp-2025-1.jpg' class='event_image'>
    </a>
    </div>
    <hr>


    <div class="home_caption">
    <h2>
    <a href="/specialty-classes.html">
    <div class="home_section_label">Specialty Classes</div>
    </a>
    </h2>
    <a href='/specialty-classes.html'>
      <img src='/img/fluid-art-2024.jpg' class='event_image'>
    </a>
    </div>
    <hr>


    <div class="home_caption">
    <h2>
    <div class="home_section_label">Water Marbling on Silk Scarf</div>
    </h2>
    </div>
        <!-- https://www.youtube.com/watch?v=xHXKFyoceSI -->
        <iframe class="youtube_embed" src="https://www.youtube.com/embed/xHXKFyoceSI" 
            title="EBRU Water Marbling on Silk Scarf Large Flower Design" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr>


    <!-- third column end -->

  </div>

  <div class="col-md-3">
    <!-- fourth column start -->

    <div id="paper_calendar"></div>
    {{ calendar.html|safe }}
    <hr>

    <div id="event_list">
    <div><h2>Next 7 events:</h2></div>
    {{ event_list_html|safe }}
    <div><a href="/calendar.html">See full list of events</a></div>
    </div>
    <hr>



    <!-- fourth column end -->
  </div>

</div>

<script>
var home_gallery_image_list = [
{% for i in images %}
  "/gallery/{{ i[5]|replace('./', '')|replace('.jpg', '_small.jpg')|replace('.png', '_small.png') }}"{{ "," if not loop.last }}
{% endfor %}
]

function slide_gallery(direction) {
  if (direction == "forward") {
    page += 1;
  } else if (direction == "backward") {
    page -= 1;
  } else {
    page = 1;
  }
  console.log('page: '+page);
  if (page == 1) {
    backward_display = "none";
  } else {
    backward_display = "inline";
  }
  document.getElementById("home_gallery_backward").style.display = backward_display;
  var start = (page - 1) * 5;
  console.log('start: '+start);
  var n = start;
  for (var i = 0; i < 5; i++) {
    document.getElementById("slide_"+i).src = home_gallery_image_list[n];
    n++;
  }
}

var d = new Date();
var this_month = d.getMonth()+1;
console.log("this_month: "+this_month);
function showMonth(show_month) {
  console.log("show_month: "+show_month);
  var show_month_html = document.getElementById("month"+show_month).innerHTML;
  document.getElementById("paper_calendar").innerHTML = show_month_html;
  if (show_month != this_month) {
    document.getElementById("prev_link").style.display = "inline";
  }
  if (show_month == this_month+3) {
    document.getElementById("next_link").style.display = "none";
  }
}
showMonth(this_month);
</script>

{% endblock %}
