{% extends "base-site.html" %}
{% block title %}Home{% endblock %}

{% block html_head %}
<style>
#month1, #month2, #month3, #month4, #month5, #month6 {
  display: none;
}
#next_link {
  display: inline;
}
#prev_link {
  display: none;
}
td {
  border-bottom: 1px solid LightGray;
  border-right: 1px solid LightGray;
  padding: 5px;
  padding: 5px;
}
table {
  width: 100%;
}
.logo {
  max-width: 100%;
}
</style>
{% endblock %}

{% block content %}

<div class="row top-buffer">

  <div class="col-sm-1">
  </div>

  <div class="col-md-3">
    <a href="/calendar.html#{{ next_event.eid }}" class="event_link">
      <img alt="{{ next_event.image }}" src="/img/small/{{ next_event.image }}" class="logo"/>
    </a>
  </div>

  <div class="col-md-4">
    <h4>{{ next_event.edatetime.strftime('%a %b %d at %I:%M %p')|replace(' 0', ' ') }} <!-- ({{ next_event.duration }} hrs) --></h4>
    <a href="/calendar.html#{{ next_event.eid }}" class="event_link">
      <h3>{{ next_event.title }}</h3>
    </a>
    <div>
      ${{ next_event.price }} per person
      <!-- <span id="seats_remaining_{{ next_event.eid }}">{{ next_event.elimit }}</span> seats remaining-->
    </div>
    <div>At: {{ next_event.location }}</div>
    <!-- <div class="book_now">Book Now</div> -->
    <!-- <div>{{ next_event.description }}</div> -->

    <div>
    {% set event_desc = next_event.description.split(' ') %}
    {% for e in event_desc %}
      {% if loop.index < 30 %}
        {{ e }}
      {% endif %}
    {% endfor %}
    ... <a href="/calendar.html#{{ next_event.eid }}" class="event_link">Read More</a>
    </div>

  </div>
  <div class="col-md-3">
    <div id="paper_calendar"></div>
    {{ calendar.html|safe }}
  </div>

  <div class="col-sm-1">
  </div>

</div>

<div class="text-center">
  <h3>Photos from recent events</h3>
  <img src="/img/alc-ink-1.jpg" class="img-fluid"/>
</div>

<div class="row top-buffer">

  <div class="col-sm-2">
  </div>

  <div class="col-sm-8 text-center">
    <div style="float: left">
      <a href="" style="font-size: 200%">«</a>
    </div>
    <div style="float: right">
      <a href="" style="font-size: 200%">»</a>
    </div>
  </div>

  <div class="col-sm-2">
  </div>
</div>

<script>
var d = new Date();
var this_month = d.getMonth()+1;
console.log("this_month: "+this_month);
function showMonth(show_month) {
  console.log("show_month: "+show_month);
  var show_month_html = document.getElementById("month"+show_month).innerHTML;
  document.getElementById("paper_calendar").innerHTML = show_month_html;
  if (show_month != this_month) {
    document.getElementById("prev_link").style.display = "inline";
  }
  if (show_month == this_month+3) {
    document.getElementById("next_link").style.display = "none";
  }
}
showMonth(2);
</script>

{% endblock %}
