

<style>
input {
  padding-bottom: 5px;
}
#submit {
  margin-top: 25px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
</style>

<h3>Sign up</h3>

<form>


<label for="one_one_one">one_one_one</label>
<input type="text" name="one_one_one" id="one_one_one" class="form-control">



<label for="two_two_two">two_two_two</label>
<input type="text" name="two_two_two" id="two_two_two" class="form-control">



<label for="three_three_three">three_three_three</label>
<input type="text" name="three_three_three" id="three_three_three" class="form-control">



<label for="four_four_four">four_four_four</label>
<input type="text" name="four_four_four" id="four_four_four" class="form-control">



<label for="five_five_five">five_five_five</label>
<input type="text" name="five_five_five" id="five_five_five" class="form-control">



<label for="no_no_no">no_no_no</label>
<input type="text" name="no_no_no" id="no_no_no" class="form-control">



<input class="form-control" id="submit" name="submit" type="submit" value="submit">

</form>

