

<style>
input {
  padding-bottom: 5px;
}
#submit {
  margin-top: 25px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
</style>

<h3>Sign up</h3>

<form>


<label for="name">name</label>
<input type="text" name="name" id="name" class="form-control">



<label for="age">age</label>
<input type="text" name="age" id="age" class="form-control">



<label for="race">race</label>
<input type="text" name="race" id="race" class="form-control">



<label for="gender">gender</label>
<input type="text" name="gender" id="gender" class="form-control">



<input class="form-control" id="submit" name="submit" type="submit" value="submit">

</form>

