

<style>
input {
  padding-bottom: 5px;
}
#submit {
  margin-top: 25px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
</style>

<h3>Sign up</h3>

<form>


<label for="we_are_the_world">we_are_the_world</label>
<input type="text" name="we_are_the_world" id="we_are_the_world" class="form-control">



<label for="we_are_the_children">we_are_the_children</label>
<input type="text" name="we_are_the_children" id="we_are_the_children" class="form-control">



<label for="we_are_the_ones_who_make_a_brighter_day">we_are_the_ones_who_make_a_brighter_day</label>
<input type="text" name="we_are_the_ones_who_make_a_brighter_day" id="we_are_the_ones_who_make_a_brighter_day" class="form-control">



<label for="so_lets_start_giving">so_lets_start_giving</label>
<input type="text" name="so_lets_start_giving" id="so_lets_start_giving" class="form-control">



<label for="theres_a_choice_were_making">theres_a_choice_were_making</label>
<input type="text" name="theres_a_choice_were_making" id="theres_a_choice_were_making" class="form-control">



<label for="michael_jackson">michael_jackson</label>
<input type="text" name="michael_jackson" id="michael_jackson" class="form-control">



<input class="form-control" id="submit" name="submit" type="submit" value="submit">

</form>

