

<style>
input {
  padding-bottom: 5px;
}
#submit {
  margin-top: 25px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
</style>

<h3>Sign up</h3>

<form>


<label for="onefield">onefield</label>
<input type="text" name="onefield" id="onefield" class="form-control">



<label for="twofield">twofield</label>
<input type="text" name="twofield" id="twofield" class="form-control">



<label for="threefield">threefield</label>
<input type="text" name="threefield" id="threefield" class="form-control">



<label for="fourfield">fourfield</label>
<input type="text" name="fourfield" id="fourfield" class="form-control">



<input class="form-control" id="submit" name="submit" type="submit" value="submit">

</form>

