

<style>
input {
  padding-bottom: 5px;
}
#submit {
  margin-top: 25px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
</style>

<h3>Sign up</h3>

<form>


<label for="butter">butter</label>
<input type="text" name="butter" id="butter" class="form-control">



<label for="ketchup">ketchup</label>
<input type="text" name="ketchup" id="ketchup" class="form-control">



<label for="mayo">mayo</label>
<input type="text" name="mayo" id="mayo" class="form-control">



<label for="mustard">mustard</label>
<input type="text" name="mustard" id="mustard" class="form-control">



<input class="form-control" id="submit" name="submit" type="submit" value="submit">

</form>

