{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Products List{% endblock %}

{% block html_head %}
<style>
.product_image {
  max-width: 100%;
}
</style>
{% endblock %}

{% block content %}

{% for product in products %}
  <div class="row product_row top-buffer id="pid_{{ product.pid }}">

    <div class="col-sm-1">
    </div>

    <div class="col-md-2">
      <!-- {{ product.image_path_array }} -->
      {% set image_array = product.image_path_array.split(',') %}
      {# for i in image_array #}
        <!-- <img src="/img/small/{# i.strip() #}" alt="" class="product_image"/><br/> -->
      {# endfor #}
      <img src="/img/small/{{ image_array[1] }}" alt="" class="product_image"/>

    </div>

    <div class="col-lg-8">
      <!-- <div>{{ product.pid }}</div> -->
      {% set product_name_slug = product.name|replace(' ', '-')|lower %}
      <h3><a href="/app/products/{{ product_name_slug }}/{{ product.pid }}">{{ product.name }}</a></h3>
      {% set desc_array = product.description.split(' ') %}
      <div>
        {% for word in desc_array %}
          {% if loop.index <= 35 %}
            {{ word }}
          {% endif %}
        {% endfor %}
      </div>
      <!-- <div>{{ product.inventory }}</div> -->
      <div>${{ product.price }}</div>
      <!-- <div>{{ product.keywords_array }}</div> -->
    </div>

    <div class="col-sm-1">
    </div>

  </div>
{% endfor %}

{% endblock %}
