{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Events List{% endblock %}
{% block html_head %}
{% endblock %}
{% block content %}
<center id="upcoming_events">
<h1 class="art-brew">Upcoming Events</h1>
</center>
{% for event in events %}
  <div class="row event_row {% if loop.index != 1 %}top-buffer {%endif%}date_{{ event.edatetime.strftime('%Y-%m-%d') }}" id="eid_{{ event.eid }}">
    <div class="col-sm-1">
    </div>
    <div class="col-md-2">

      {% if "private event" in event.title|lower or "private event" in event.description|lower %}
        {% set private_event = "True" %}
      {% else %}
        {% set private_event = "False" %}
      {% endif %}

      {% if private_event == "True" %}
        <img alt="{{ event.image }}" src="/img/small/{{ event.image }}" class="event_image"/>
      {% else %}
        <a href="/event/{{ event.eid }}.html"><img alt="{{ event.image }}" src="/img/small/{{ event.image }}" class="event_image"/></a>
      {% endif %}

    </div>
    <div class="col-lg-8">
      <h2>{{ event.edatetime.strftime('%a %b %d, %Y at %I:%M %p')|replace(' 0', ' ') }}</h2>
      <h3>

      {% if private_event == "True" %}
        {{ event.title }}
      {% else %}
        <a href="/event/{{ event.eid }}.html">{{ event.title }}</a>
      {% endif %}

      </h3>
      <div>
        {{ event.description|safe }}
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
{% endfor %}
<script>
function hideRows() {
  var x = document.getElementsByClassName("event_row");
  for (var i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
}

if (window.location.hash) {
  var hash = window.location.hash.substr(1);
  if (/^([0-9]{4}-[0-9]{2}-[0-9]{2})$/.test(hash)) {
    hideRows();
    var x = document.getElementsByClassName("date_"+hash);
    for (var i = 0; i < x.length; i++) {
      x[i].style.display = "flex";
    }
  } else if (/^([0-9]{1,9})$/.test(hash)) {
    hideRows();
    document.getElementById("eid_"+hash).style.display = "flex";
    setEventMeta(hash);
    if (document.getElementById("state_outside_payment").value == "False") {
      document.getElementById("quantity_form_"+hash).style.display = "block";
    }
  }
  document.getElementById("top").focus();
}
</script>
{% endblock %}
