{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Products List{% endblock %}

{% block html_head %}
<style>
.product_image {
  max-width: 100%;
}
.product_image_2 {
  max-width: 200px;
}
.sold_out{
  color: red;
}
#cart_link_container {
  margin-top: 10px;
  margin-bottom: 0px;
}
.filter_row {
  padding-bottom: 20px;
}
.product_name_box {
  width: 200px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  #cart_link_container {
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .product_image_2 {
    max-width: 600px;
    width: 100%;
  }
  .product_name_box {
    width: 100%;
    border-bottom: 2px solid LightGray;
    margin-bottom: 20px;
    font-size: 150%;
  }
}
</style>
{% endblock %}

{% block content %}

<div class="row">

<div class="col-sm-1">
</div>

<div class="col-md-3 text-center">
  <div style="padding-top: 15px;">
  <a href="/cart/" id="shop_link">Go to cart</a>
  </div>
</div>

<div class="col-md-4 text-center">
  <center id="upcoming_events">
    <h1 class="art-brew">Shop</h1>
  </center>
</div>

<div class="col-md-3 text-center" id="totals_box">
  <div style="padding-top: 15px;">
    <!-- -->
  </div>
</div>

<div class="col-sm-1">
</div>

</div>

<div class="row">

<div class="col-sm-1">
</div>

<div class="col-md-10 text-center filter_row" style="font-size: 150%;">

  Filter:
  <a href="/shop/">All</a> | 
  {% for word in allowed_filter_words %}
    <a href="/shop/filter/{{ word }}">{{ word }}</a>
    {% if not loop.last %}|{% endif %}
  {% endfor %}

</div>

<div class="col-sm-1">
</div>

</div>

{#

{% for product in products %}
  <div class="row product_row top-buffer id="pid_{{ product.pid }}">

    <div class="col-sm-1">
    </div>

    <div class="col-md-2">
      {% set image_array = product.image_path_array.split(',') %}
      <a href="/shop/product/{{ product.pid }}"><img src="/img/small/{{ image_array[1] }}" alt="" class="product_image"/></a>
    </div>

    <div class="col-lg-8">
      {% set product_name_slug = product.name|replace(' ', '-')|lower %}
      {% if product.inventory > 0 %}
        <h3><a href="/shop/product/{{ product.pid }}">{{ product.name }}</a></h3>
      {% else %}
        <div class="sold_out">Sold out</div>
        <h3>{{ product.name }}</h3>
      {% endif %}
      {% set desc_array = product.description.split(' ') %}
      <div>
        {% for word in desc_array %}
          {% if loop.index <= 35 %}
            {{ word }}
          {% endif %}
        {% endfor %}
      </div>
      <div>${{ product.price }}</div>
    </div>

    <div class="col-sm-1">
    </div>

  </div>
{% endfor %}

#}

<div class="row">

{# for test_number in range(20) #}
{% for product in products %}

  {% if loop.index+1 % 4 %}{% else %}
    </div>
    <div class="row">
  {% endif %}

    <div class="col-md-3">
      {# loop.index+1 #}

      {% set image_array = product.image_path_array.split(',') %}

      {% if product.inventory <= 0 %}

      <!--

      <div>
          <img src="/img/small/{{ image_array[1] }}" alt="" class="product_image_2"/>
      </div>

      <div class="product_name_box">
          {{ product.name }} Sold out
      </div>

      -->

      {% else %}


      <div>
        <a href="/shop/product/{{ product.pid }}">
          <img src="/img/small/{{ image_array[1] }}" alt="" class="product_image_2"/>
        </a>
      </div>

      <div class="product_name_box">
        <a href="/shop/product/{{ product.pid }}">
          {{ product.name }} ${{ product.price }}
        </a>
      </div>


      {% endif %}

    </div>

{% endfor %}

</div>

<!-- <center style="background-color: yellow">We'll reopen Sunday night.</center> -->

{% endblock %}
