{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Products List{% endblock %}

{% block html_head %}
<style>
.product_image {
  max-width: 100%;
}
.product_image_2 {
  max-width: 200px;
}
.sold_out{
  color: red;
}
#cart_link_container {
  margin-top: 10px;
  margin-bottom: 0px;
}
.filter_row {
  padding-bottom: 20px;
}
.product_name_box {
  width: 200px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  #cart_link_container {
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .product_image_2 {
    max-width: 600px;
    width: 100%;
  }
  .product_name_box {
    width: 100%;
    border-bottom: 2px solid LightGray;
    margin-bottom: 20px;
    font-size: 150%;
  }
}
</style>
{% endblock %}

{% block content %}


<div class="row">

<div class="col-sm-1">
</div>

<div class="col-md-3 text-center">
  <h1 class="art-brew">Shop</h1>
</div>

<div class="col-md-4 text-center">
  <div id="cart_link_container">
    <a href="/cart/">

<svg enable-background="new 0 0 48 48" fill="Lightseagreen" height="48px" id="Layer_1" version="1.1" viewBox="0 0 48 48" width="48px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
<g transform="scale(3)">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</g>
</svg>

    </a>
  </div>
</div>

<div class="col-md-3 text-center">
  <!-- placeholder -->
</div>

<div class="col-sm-1">
</div>

</div>

<div class="row">

<div class="col-sm-1">
</div>

<div class="col-md-10 text-center filter_row">
  Filter by available product types:<br>
  <a href="/shop/">All</a> | 
  {% for word in allowed_filter_words %}
    <a href="/shop/filter/{{ word }}">{{ word }}</a>
    {% if not loop.last %}|{% endif %}
  {% endfor %}
</div>

<div class="col-sm-1">
</div>

</div>

{#

{% for product in products %}
  <div class="row product_row top-buffer id="pid_{{ product.pid }}">

    <div class="col-sm-1">
    </div>

    <div class="col-md-2">
      {% set image_array = product.image_path_array.split(',') %}
      <a href="/shop/product/{{ product.pid }}"><img src="/img/small/{{ image_array[1] }}" alt="" class="product_image"/></a>
    </div>

    <div class="col-lg-8">
      {% set product_name_slug = product.name|replace(' ', '-')|lower %}
      {% if product.inventory > 0 %}
        <h3><a href="/shop/product/{{ product.pid }}">{{ product.name }}</a></h3>
      {% else %}
        <div class="sold_out">Sold out</div>
        <h3>{{ product.name }}</h3>
      {% endif %}
      {% set desc_array = product.description.split(' ') %}
      <div>
        {% for word in desc_array %}
          {% if loop.index <= 35 %}
            {{ word }}
          {% endif %}
        {% endfor %}
      </div>
      <div>${{ product.price }}</div>
    </div>

    <div class="col-sm-1">
    </div>

  </div>
{% endfor %}

#}

<div class="row">

{# for test_number in range(20) #}
{% for product in products %}

  {% if loop.index+1 % 4 %}{% else %}
    </div>
    <div class="row">
  {% endif %}

    <div class="col-md-3">
      {# loop.index+1 #}

      {% set image_array = product.image_path_array.split(',') %}

      {% if product.inventory <= 0 %}

      <div>
          <img src="/img/small/{{ image_array[1] }}" alt="" class="product_image_2"/>
      </div>

      <div class="product_name_box">
          {{ product.name }} Sold out
      </div>

      {% else %}

      <div>
        <a href="/shop/product/{{ product.pid }}">
          <img src="/img/small/{{ image_array[1] }}" alt="" class="product_image_2"/>
        </a>
      </div>

      <div class="product_name_box">
        <a href="/shop/product/{{ product.pid }}">
          {{ product.name }} ${{ product.price }}
        </a>
      </div>

      {% endif %}

    </div>

{% endfor %}

</div>

{% endblock %}
