{% extends "base-admin.html" %}
{% block title %}Main{% endblock %}

{% block html_head %}
<style>
/* specific css */
div a {
  font-size: 25px;
  padding: 10px;
  text-decoration: none;
}
p {
  padding: 10px;
  margin: 0px;
}
.alert {
  margin-bottom: 0px;
}
</style>
{% endblock %}

{% block content %}
<p class="alert alert-secondary" role="alert">Admin</p>
<div><a href="/app/admin/events/list">Events</a></div>
<div><a href="/app/admin/booking">Booking</a></div>
<div><a href="/gallery/admin.php">Gallery</a></div>
<div><a href="/app/admin/pages">Pages</a></div>
<p class="alert alert-secondary" role="alert">Site</p>
<div><a href="/app/home">Home</a></div>
{% if path_info %}
  <p class="alert alert-warning" role="alert">Error: {{ path_info }}</p>
{% endif %}
{% endblock %}
