{% extends "base-admin.html" %}
{% block title %}Main{% endblock %}

{% block html_head %}
<style>
/* specific css */
div a {
  font-size: 28px;
  padding: 10px;
  text-decoration: none;
}
</style>
{% endblock %}

{% block content %}
<div><a href="/app/admin/events/list">Admin Events</a></div>
<div><a href="/app/admin/booking">Admin Booking</a></div>
<hr>
<div><a href="/app/home">Home</a></div>
<div><a href="/app/list/events">Events</a></div>
<div><a href="/app/gallery/slideshow?gid=1">Gallery</a></div>
{% endblock %}
