{% extends "base-site.html" %}
{% block title %}About / Contact-us{% endblock %}

{% block html_head %}
<style>
/* specific css */
</style>
{% endblock %}
 
{% block content %}

{% if thanks %}
  {{ thanks }}
{% else %}
  <div>Call or Text: (972) 446-0444</div>
  <div>Email: info@catalystcreativearts.com</div>
  <p>Have a question about classes? Interested in booking a private party? 
  Fill out this form and we'll be in touch ASAP! To view the paintings 
  available for classes and parties, visit our gallery HERE!</p>

  <div style="padding-top: 10px;">
    <h2 class="art-brew">Contact Us</h2>
  </div>

  <form action="/app/contact" method="POST" enctype="multipart/form-data" name="test_form" id="test_form">
  <p><input type="text" name="email" placeholder="Email"/></p>
  <p><textarea name="message"></textarea></p>
  <p><input type="submit" name="submit"/></p>
  </form>

{% endif %}

{% endblock %}
