{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts {{ page_name.replace("-", " ") }}{% endblock %}

{% block html_head %}
<style>
#thanks_message p {
  padding: 10px;
}
</style>
{% endblock %}

{% block content %}

<div id="thanks_message"></div>

<div class="row">

<div class="col-sm-1">
</div>

{% if page_name == "about-us" %}

<div class="col-md-5">
{{ page_content|safe }}
</div>

<div class="col-md-5">
<h2 class="art-brew">Contact Us</h2>
<div>Call or Text: (972) 446-0444</div>
<div>Email: info@catalystcreativearts.com</div>
<p>
Have a question about classes? Interested in booking a private party?
Fill out this form and we'll be in touch ASAP!
<mark>Note: Do not add links to the message.</mark>
</p>
<form action="/contact/submit" method="POST" enctype="text/plain">
<p><input class="form-control" type="text" name="email" placeholder="Your email"/></p>
<p><textarea class="form-control" name="message" onfocus="clearContents(this);">Your message</textarea></p>
<p><input class="form-control btn btn-success" type="submit" name="submit"/></p>
</form>
<script>
if (window.location.hash) {
  var hash = window.location.hash.substr(1);
  if (/^(thanks)$/.test(hash)) {
    var thanks_text = '<p class="alert alert-success top-buffer">Thank you for contacting us. We will try to get back to you soon.</p>'
    document.getElementById("thanks_message").innerHTML = thanks_text;
  }
}
function clearContents(element) {
  element.value = "";
}
</script>
</div>

{% else %}

<div class="col-md-10">

{{ page_content|safe }}

</div>

{% endif %}

<div class="col-sm-1">
</div>

</div>

{% endblock %}
