{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts {{ page_name.replace("-", " ")|title }}{% endblock %}

{% block html_head %}

<style>
h5 {
  background-color: beige;
  padding: 5px;
}
.column_container {
  background-color: white;
  padding: 10px;
}
@media only screen and (min-width: 600px) {
  .column_container_right {
    margin-top: 166px;
  }
}

hr {
	margin: 20px;
}
.specialty_column {
  float: left;
  width: 50%;
}
.specialty_row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

.column_s {
  float: left;
  width: 33.3%;
  padding: 10px;
  margin: 10px;
}

.row_s:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column_s {
    width: 100%;
  }
}

.specialty-image {
  width: 300px;
}

</style>

{% endblock %}

{% block content %}

<div class="row">

{% if page_name in ["about-us"] %}

  {% set page_name_html = "include-" + page_name + ".html" %}

  <div class="col-md-6">
    {{ page_content|safe }}
  </div>
  <div class="col-md-6">
    {% include page_name_html %}
  </div>

{% else %}

  <div class="col-sm-1">
  </div>

  <div class="col-md-10">
    {{ page_content|safe }}
  </div>

  <div class="col-sm-1">
  </div>

{% endif %}

</div>

{% endblock %}
