{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Paint Wars Registration{% endblock %}

{% block html_head %}
<style>
h5 {
  padding-top: 20px;
}
.extra_padding {
  padding: 10px;
  margin: 10px;
}
@media only screen and (min-width: 601px) {
  .row {
    padding-top: 30px;
  }
}
</style>

{% endblock %}

{% block content %}

<center>
<h1 style="padding-top: 10px;">Catalyst Creative Arts Paint Wars</h1>
<h3>Registration & Release Form</h3>

<p style="padding-top: 10px;">Saturday Oct 28, 2023, 7-9 PM</p>
<p>Hosted By Growl Records and Division Brewing</p>
   
</center>

<div class="row">
  <div class="col-sm-12">
    <h5>{% if data %}CONFIRM YOUR{% else %}PARTICIPANT{% endif %} INFORMATION</h5>
    <!-- (Eight competitors will be chosen) -->
  </div>
</div>

{% if data %}

<form action="/registration/{{ registration_name }}/edit" method="POST" enctype="text/plain" name="registration_form" id="registration_form">
<input type="hidden" name="rid" id="rid" value="{{ rid }}"/>

<div class="row">
{% for key, val in data.items() %}
  <div class="col-sm-4">{{ key }}: {{ val }}</div>
  {% if loop.index % 3 %}{% else %}</div><div class="row">{% endif %}
{% endfor %}
</div>

<div class="row" id="edit_continue_row">
  <div class="col-sm-6 text-right">
    <!-- <button type="button" class="btn btn-warning" onClick="edit(); return false;">Edit</button> -->
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-success" onClick="complete(); return false;">Submit</button>
  </div>
</div>

</form>


{% elif form %}

<!--
<div style="background-color: Yellow; padding: 10px;">
Registration closed
</div>
-->


<form action="/registration/{{ registration_name }}/confirm" method="POST" enctype="text/plain" name="registration_form" id="registration_form">

{% for field in form %}
  {% if loop.index <= 4 %}
    {{ field }}
  {% endif %}
{% endfor %}

<div class="row">
  <div class="col-sm-4">
    {{ form.name.label(class="form-text text-muted") }}
    {{ form.name(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.phone_number.label(class="form-text text-muted") }}
    {{ form.phone_number(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.age.label(class="form-text text-muted") }}
    {{ form.age(class="form-control") }}
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    {{ form.email.label(class="form-text text-muted") }}
    {{ form.email(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.instagram.label(class="form-text text-muted") }}
    {{ form.instagram(class="form-control") }}
  </div>
  <div class="col-sm-4">
    {{ form.can_paint.label(class="form-text text-muted") }}
    {{ form.can_paint(class="form-control") }}
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    {{ form.can_promote.label(class="form-text text-muted") }}
    {{ form.can_promote(class="form-control") }}
  </div>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
{{ form.photo_release }}
{{ form.photo_release.label(for="photo_release") }}<br/>
<small>I, the undersigned, grant Catalyst Creative, LLC d/b/a CATALYST CREATIVE ARTS, permission to use any pictures taken in public view of myself individually, my child (participant(s) listed above), or any in which I (or the participant(s)) appear in whole or in part during Paint Wars competition. I understand that these pictures may be reproduced in print and electronic media specifically to promote CATALYST CREATIVE ARTS. I waive any right to inspect or approve said pictures, or any captions or accompanying texts that may be used in connection with them, or to approve the use to which said materials may be applied</small>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ form.signature.label(class="form-text text-muted") }}
    {{ form.signature(class="form-control") }}
    <p><small>Typing your name into the input field above serves as your signature.</small></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    You will be contacted once registration is completed.<br/>
    {{ form.submit(class="form-control btn btn-success", onClick="validate(); return false;") }}
  </div>
</div>

</form>




{% elif status == "complete" %}

Thank you for registering. We will contact you soon for details.

{% endif %}

<script>
{% if form %}
document.getElementById("age").placeholder = "{{ form.age.description }}";

function validate() {
  if (document.getElementById("name").value == "") {
    alert('Please add your name.');
    return false;
  } else if (document.getElementById("phone_number").value == "") {
    alert('Please add your phone number.');
    return false;
  //} else if (Number(document.getElementById("age").value) < 18) {
  //  alert('Must be 18 or older.');
  //  return false;
  } else {
    document.registration_form.submit();
    return true;
  }
}
{% endif %}

function edit() {
  document.registration_form.submit();
  return true;
}
function complete() {
  document.registration_form.action = "/registration/{{ registration_name }}/complete";
  document.registration_form.submit();
  return true;
}
</script>

{% endblock %}
