{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Pottery Lessons{% endblock %}
{% block html_head %}

<style>
.PL_col1 {
  float: left;
  width: 5%;
}
.PL_col2 {
  float: left;
  width: 95%;
}
.PL_row:after {
  padding-top: 20px;
  content: "";
  display: table;
  clear: both;
}
.h2, h2 {
  font-size: 1.6rem;
}
#choose_date, #proceed_to_checkout, #select_guest_quantity {
  display: none;
}
#select_guest_quantity {
  margin: 10px 0 10px 0;
  width: 50%;
}
#subtotal_container {
  background-color: LightBlue;
  padding: 10px 0 10px 10px;
  margin: 10px 0 10px 0;
  width: 50%;
}
#pottery-images {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  #pottery-images img {
    width: 200px;
  }
}
#customer_name, #customer_phone {
  max-width: 400px;
  margin-bottom: 10px;
}
ul {
  line-height: 180%;
}
.pottery-lessons-img {
  max-width: 200px;
}
</style>

{% endblock %}

{% block content %}

<center id="upcoming_events">
<h1 class="art-brew">Pottery Lessons</h1>
</center>

<div id="pottery-images">
<img src="/img/pottery-promo-2024-1.jpg" class="pottery-lessons-img">
<img src="/img/pottery-promo-2024-2.jpg" class="pottery-lessons-img">
<img src="/img/pottery-promo-2024-3.jpg" class="pottery-lessons-img">
<img src="/img/pottery-lessons-2024-1.jpg" class="pottery-lessons-img">
<img src="/img/pottery-lessons-2024-2.jpg" class="pottery-lessons-img">
<img src="/img/pottery-lessons-2024-3.jpg" class="pottery-lessons-img">
<!--
<img src="/img/small/Resized_20200418_125357-01.jpeg" class="pottery-lessons-img">
<img src="/img/small/Resized_20200418_125357-01.jpeg">
<img src="/img/small/20200624_110444-2.jpg">
<img src="/img/small/20210424_154335-01.jpeg">
<img src="/img/small/20210622_115227.jpg">
-->
</div>

<div class="row">

<div class="col-md-6">




<form name="pottery_form" id="pottery_form" action="/checkout/" method="POST">



<div>
<h3>Step 1: Choose a class:</h3>


<div class="PL_row">
<div class="PL_col1">
<input type="radio" class="PL_radio" id="PL1" name="pottery_lesson_type" value="PL1" onClick="chooseClassType('PL1')">
</div>
<div class="PL_col2">
<label for="PL1" id="PL1_label">
	<b>Private Pottery Lesson</b> - 90 minutes, one-on-one instruction, learn beginner wheel skills, make several forms,
	return 1-2 weeks to apply choice of glaze to forms @ $115 
</label>
</div>
</div>

<div class="PL_row">
<div class="PL_col1">
<input type="radio" class="PL_radio" id="PL2" name="pottery_lesson_type" value="PL2" onClick="chooseClassType('PL2')">
</div>
<div class="PL_col2">
<label for="PL2" id="PL2_label">
	<b>Private Pottery Lesson for 2 students on 2 wheels</b> - 90 minutes, 2 wheels - 1 instructor, learn beginner wheel skills,
	make several forms, return 1-2 weeks to apply choice of glaze to forms @ $165
</label>
</div>
</div>

<div class="PL_row">
<div class="PL_col1">
<input type="radio" class="PL_radio" id="PL3" name="pottery_lesson_type" value="PL3" onClick="chooseClassType('PL3')">
</div>
<div class="PL_col2">
<label for="PL3" id="PL3_label">
	<b>Private Pottery 6 Hour Lesson Package for 1 Person</b> - customizable package based on learning interests,
	typically split into four 90 minute lessons, still beginner friendly, but much more technical
	and intensive one-on-one instruction and learning opportunity, return 1-2
	weeks after 4th lesson to apply choice of glaze to forms @ $265
</label>
</div>
</div>

<div class="PL_row">
<div class="PL_col1">
<input type="radio" class="PL_radio" id="PL4" name="pottery_lesson_type" value="PL4" onClick="chooseClassType('PL4')">
</div>
<div class="PL_col2">
<label for="PL4" id="PL4_label">
	<b>Date Night/Group Pottery Lesson: Up to 4 students on 4 wheels</b> - 90 minutes - 4 students on 4 wheels, 1 instructor,
	learn beginner wheel skills, make several forms, each student will keep the best 2
	forms and the choose a glaze color to be applied to each by studio staff, return
	1-2 weeks to pick up completed pottery @ $100ea. 
	<span style="background-color: lightyellow;">Email info@catalystcreativearts.com to make a reservation.</span>
</label>
</div>
</div>



</div>


</div>

<div class="col-md-6">

<div id="choose_date">
<h3>Step 2: Choose a date:</h3>
{% for event in events %}
  {% if orders_count[event.eid] and orders_count[event.eid] >= event.elimit %}
    <!-- class purchased already -->
  {% else %}
  <div class={% if event.tags == "PL4" %}PL4_event{% else %}pottery-lesson-event{% endif %}>
      <input type="radio" id="eid_{{ event.eid }}" name="pottery_lesson_date" value="{{ event.eid }}" onClick="chooseDate({{ event.eid }})">
      <label for="eid_{{ event.eid }}" id="eid_{{ event.eid }}_label">{{ event.edatetime.strftime('%a %b %d, %Y at %I:%M %p')|replace(' 0', ' ')|replace(':00', '') }}</label>
      </div>
  {% endif %}
{% endfor %}

</div>

<div id="proceed_to_checkout">
  <h3>Step 3: Basic info:</h3>

  <select id="select_guest_quantity" name="select_guest_quantity" class="form-control" onchange="changeGuestQuantity();">
    <option value="0">Select number of guests</option>
    <option value="1">1 guest</option>
    <option value="2">2 guests</option>
    <option value="3">3 guests</option>
    <option value="4">4 guests</option>
  </select>

  <input type="text" id="customer_name" name="customer_name" placeholder="Your name" required class="form-control">
  <input type="tel" id="customer_phone" name="customer_phone" placeholder="Your phone" required class="form-control">

  <h3>Step 4:</h3>
  Please arrive to class wearing clothes that can get dirty and fingernails trimmed no longer than the end of the finger tip.

  <div> <div id="subtotal_container"> Total: $<span id="subtotal">0</span> </div> </div>

  <input type="hidden" name="event_title" id="event_title" value="Private Pottery Wheel Lesson">
  <input type="hidden" name="event_date" id="event_date" value="">
  <input type="hidden" name="class_type" id="class_type" value="">
  <input type="hidden" name="guest_quantity" id="guest_quantity" value="1">
  <input type="hidden" name="total_cost" id="total_cost" value="">
  <input type="hidden" name="event_id" id="event_id" value="">
  <input type="hidden" name="variable_price" id="variable_price" value="">
  <input type="hidden" name="additional_scarf" id="additional_scarf" value="">
  <input type="submit" name="submit" id="submit" value="Proceed to checkout" class="btn btn-warning" onclick="spin();">

</div>

</form>

</div><!-- close div col-md-6 -->
</div><!-- close row -->

<script>
function spin() {
  document.getElementById("submit").value = "Processing...";
  document.getElementById("submit").style.backgroundColor = "yellow";
  return true;
}

function chooseClassType(class_type) {

  for (let i = 1; i <= 4; i++) {
    document.getElementById("PL" + i + "_label").style.backgroundColor = "White";
  }

  if (class_type == "PL4") {
    pl4_display = "block";
    pl1_3_display = "none";
    document.getElementById("select_guest_quantity").style.display = "block";
  } else {
    pl4_display = "none";
    pl1_3_display = "block";
    document.getElementById("select_guest_quantity").style.display = "none";
    //document.getElementById("guest_quantity").value = 1;
  }

  const PL4_collection = document.getElementsByClassName("PL4_event");
  for (let i = 0; i < PL4_collection.length; i++) {
    PL4_collection[i].style.display = pl4_display;
  }

  const PL1_3_collection = document.getElementsByClassName("pottery-lesson-event");
  for (let i = 0; i < PL1_3_collection.length; i++) {
    PL1_3_collection[i].style.display = pl1_3_display;
  }

  document.getElementById(class_type + "_label").style.backgroundColor = "WhiteSmoke";
  document.getElementById("choose_date").style.display = "block";
  document.getElementById("class_type").value = class_type;

  const class_prices = {
    "PL1": 115,
    "PL2": 165,
    "PL3": 265,
    "PL4": 100
  }

  const variable_prices = {
    "PL1": "1 person 90 minute lesson @ $115",
    "PL2": "2 people share 90 minute lesson @ $ 165",
    "PL3": "6 hour lesson package @ $265",
    "PL4": "PL4" 
  }

  document.getElementById("total_cost").value = class_prices[class_type];
  console.log("total_cost", document.getElementById("total_cost").value);
  document.getElementById("variable_price").value = variable_prices[class_type];
  console.log("variable_price", document.getElementById("variable_price").value);
  document.getElementById("subtotal").innerHTML = class_prices[class_type];
  console.log("subtotal", document.getElementById("subtotal").innerHTML);

  //changeGuestQuantity();
  if (class_type != "PL4") {
    document.getElementById("select_guest_quantity").value = 1;
  }
}

function chooseDate(eid) {
  document.getElementById("proceed_to_checkout").style.display = "block";
  event_date = document.getElementById("eid_" + eid + "_label").innerHTML;
  document.getElementById("event_date").value = event_date;
  console.log("event_date", document.getElementById("event_date").value);
  document.getElementById("event_id").value = eid;
  console.log("event_id", document.getElementById("event_id").value);
  class_type = document.getElementById("class_type").value;

  if (class_type == "PL4") {
    document.getElementById("select_guest_quantity").style.display = "block";
  }

}

function changeGuestQuantity() {
  new_guest_amount = document.getElementById("select_guest_quantity").value;
  document.getElementById("guest_quantity").value = new_guest_amount;
  console.log("new_guest_amount", new_guest_amount);
  let current_total_cost = 100;
  let new_total_cost = current_total_cost * Number(new_guest_amount);
  document.getElementById("total_cost").value = new_total_cost;
  console.log("new_total_cost", new_total_cost);
  document.getElementById("subtotal").innerHTML = new_total_cost;
}

function getCcaOrderId() {
  epoch_time = new Date().getTime();
  random_num = Math.floor((Math.random() * 100000) + 10000);
  return String(epoch_time) + "_" + String(random_num);
}

var cca_order_id = getCcaOrderId();

</script>
{% endblock %}
