{% extends "base-site.html" %}
{% block title %}Private events{% endblock %}

{% block html_head %}
<style>
/* specific css */
</style>
{% endblock %}

{% block content %}
<h1>CONSIDERING A PRIVATE EVENT?</h1>

<p>We love to host birthday parties, bachelorette parties, bridal and baby showers, corporate team-building events, girl’s night out, and anything else worth celebrating! You can choose from painting, hand building clay pottery, paint your own pottery, fused glass, or water marbling as the activity for your party. You are welcome to request any day and time that you like. We will always try to accommodate your first preference. It is our goal to provide you with a fun, creative and unique experience! And of course, you may bring food, drinks, and decorations and arrive up to 30 minutes prior to your party time to set up. We can also come to you with a mobile party (additional charges may apply). Please inquire about private party ideas, dates, and times through our CONTACT form, by emailing us at info@catalystcreativearts.com, or by calling or texting us at 972-446-0444. We will respond promptly.</p>


<p>Minimum: We require a minimum of 10 people for a Private Event. If you don’t have 10 people, you may still have a Private Event if you pay for 10 people.</p>

<b>Cost:</b>
<div>Kid’s Painting or Clay Party: $25 per person.</div>
<div>Adult Painting Party: $35 per person.</div>
<div>Adult Wine/Pint Glass Painting Party: $30 per person. Two take home glasses included.</div>
<div>Adult Fused Glass Party: $35 per person. Make up to 3 items (jewelry or ornament) or one suncatcher.</div>
<div>Water Marbling on Silk Party : $43 per person. One 15”x60” silk scarf included per person. 100% silk. Extra Scarves $23 per already registered persons.</div>
<div>Paint Your Own Pottery: Pricing dependent on items selected.</div>

<b>Deposit:</b>
<p>To book a private party, we require that you pay a deposit at least two (2) weeks prior to your event. Once we have determined the date and time of your private party, we will can create a booking link that you use to pay your deposit, or you may pay over the phone. Our receipt of your deposit holds your desired date and time and we will put it on our calendar. The link may also be used by your guests if they are paying separately. We will need an accurate final headcount for your party no later than 24 hours before your party.  The balance of your payment may be made at the party. For water marbling parties, we require payment in full for all attendees no later than 24 hours before your event.</p>

<b>Deposit Amount:</b>
<div>The deposit amount is equal to 5 people for your selected activity.</div>
<div>Examples: Kid’s Party Deposit $125. Adult Painting Party $175. Water Marbling Party $200</div>

<b>Cancellation Policy and Deposit Refund Policy:</b>
<table>
<tr><td>CANCELLATION DAYS (PRIOR TO PARTY DATE)</td><td>REFUND AMOUNT</td></tr>
<tr><td>14+ days</td><td>Full Refund of Deposit</td></tr>
<tr><td>8-13 days</td><td>75% Refund of Deposit</td></tr>
<tr><td>5-7 days</td><td>50% Refund of Deposit</td></tr>
<tr><td>LESS THAN 5 days</td><td>No Refund</td></tr>
</table>
<p><b>*Please notify us of your cancellation in writing via email to info@catalystcreativearts.com.</b></p>
<p><b>**All refunds will be deducted a transaction fee if paid by credit card.</b></p>
{% endblock %}
