{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Product Details{% endblock %}

{% block html_head %}
<style>
form, input {
  display: inline;
}
.product_image {
  max-width: 100%;
}
#cart {
  width: 50px;
}
#add_to_cart {
  margin: 10px;
  padding: 10px;
  width: 220px;
  border: 1px dashed LightGray;
  border-radius: 15px;
  background-color: HoneyDew;
}
#add_to_cart a {
  text-decoration: none;
}
#product_quantity_select {
  margin-top: 10px;
  max-width: 60px;
}
img.check {
  width: 35px;
  padding-left: 10px;
}
.form-control {
  display: inline;
}
.plus_minus {
  font-size: 20px;
}
#add_to_cart_text {
  margin-left: 3px;
  padding-left: 3px;
}
</style>
{% endblock %}

{% block content %}

<div class="row product_row top-buffer">

  <div class="col-sm-1">
  </div>

  <div class="col-md-2">
    {% set image_array = row.image_path_array.split(',') %}
    <img src="/img/small/{{ image_array[1] }}" alt="" class="product_image"/>
  </div>

  <div class="col-lg-8">
    <h3>{{ row.name }}</h3>
    <div>{{ row.description }}</div>
    <div>
      <a href="#" onclick="plusMinus(-1); return false;" class="plus_minus">-</a>
      <form action="" id="product_quantity_form">
        <input type="text" name="quantity" id="product_quantity_select" class="form-control" value="1"/>
      </form>
      <a href="#" onclick="plusMinus(1); return false;" class="plus_minus">+</a>
    </div>
    <div id="add_to_cart">
      <a href="#" onclick="addToCart({{ row.pid }}); return false;">
        <img src="/img/cart.png" class="cart_icon">
        <span id="add_to_cart_text">Add to cart</span>
        <span id="check_container"></span>
      </a>
    </div>
    <!-- <div>{{ row.inventory }}</div> -->
    <div>Price: ${{ row.price }} per item</div>
    <div>Keywords: {{ row.keywords_array }}</div>
    <div>
    <a href="/app/products">More shopping</a>
    </div>
  </div>

  <div class="col-sm-1">
  </div>

  <!-- NEW ROW BELOW -->

  <div class="col-sm-1">
  </div>

  <div class="col-lg-10">
    <div>
      {% set image_array = row.image_path_array.split(',') %}
      {% for i in image_array %}
        {% if loop.index > 1 %}
          <img src="/img/small/{{ i }}"/>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="col-sm-1">
  </div>

</div>

<script>
function plusMinus(n) {
  v = document.getElementById("product_quantity_select").value;
  x = (Number(v) + Number(n));
  document.getElementById("product_quantity_select").value = x;
  return false;
}

function getRandom() {
  return (Math.random() * 10000000000000000);
}

function make_request(session_id, product_id, quantity) {
  const fetchPromise = fetch('/cart-api/add', {
    method: 'POST',
    headers: {
      'content-type': 'application/json'
    },
    body: JSON.stringify({
      session_id: session_id,
      product_id: product_id,
      quantity: quantity
    })
  });
  fetchPromise.then(response => {
    var check_tag = '<img src="/img/check.png" class="check"/>';
    document.getElementById("check_container").innerHTML = check_tag;
    document.getElementById("add_to_cart_text").innerHTML = "Added to cart";
    //document.getElementById("top_right_cart_container").style.display = "block";
    make_request_get_total(session_id);
    console.log("response from promise");
    //console.log(response);
  });
}

function addToCart(pid) {
  console.log(pid);
  // GRAB THE QUANTITY FROM FORM
  quantity = document.getElementById("product_quantity_select").value;
  console.log(quantity);
  if (quantity == 0) {
    alert("Select quantity");
  } else {
    // FIRST CHECK IF USER HAS SESSION COOKIE
    var session_id = document.cookie.split("=")[1];

    if (session_id) {
      console.log("Existing session_id. Let's use it");
    } else {
      console.log("No session_id yet. Let's set one");
      // SET COOKIE
      var random_number = getRandom();
      document.cookie = "session_id=" + random_number + "; expires=Tue, 11 Jun 2120 12:00:00 UTC; path=/";
      session_id = random_number
    }
    if (session_id) {
      console.log(session_id)
      // MAKE A REQUEST TO THE NEW CART API
      console.log("request to cart api to add");
      make_request(session_id, {{ row.pid }}, quantity);
    } else {
      console.log("Error. Still no session_id");
    }
  }
  return false;
}

</script>

{% endblock %}
