{% extends "base-site.html" %}
{% block title %}Catalyst Creative Arts Product Details{% endblock %}

{% block html_head %}
<style>

#continue_shopping {
  margin-top: 10px;
  display: none;
}
form, input {
  display: inline;
}
.product_image {
  max-width: 100%;
  padding: 5px;
}
#product_quantity_select {
  margin-top: 10px;
  max-width: 60px;
}
img.check {
  width: 35px;
  padding-left: 10px;
}
#check_mark, #proceed_to_checkout {
  display: none;
}
#proceed_to_checkout {
  margin-top: 10px;
}
#check_mark img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
.form-control {
  display: inline;
}
.plus_minus {
  font-size: 20px;
}
</style>
{% endblock %}

{% block content %}


<div class="row">

<div class="col-sm-1">
</div>

<div class="col-md-3 text-center">
  <div style="padding-top: 15px;">
  <a href="/shop/" id="shop_link">Back to shop</a>
  </div>
</div>

<div class="col-md-4 text-center">
  <center id="upcoming_events">
    <h1 class="art-brew">Shop</h1>
  </center>
</div>

<div class="col-md-3 text-center" id="totals_box">
  <div style="padding-top: 15px;">
  <a href="/cart/" id="shop_link">Go to cart</a>
  </div>
</div>

<div class="col-sm-1">
</div>

</div>


<div class="row product_row top-buffer-no-line">

  <div class="col-sm-1">
  </div>

  <div class="col-md-2">
    <small style="padding-left: 10px">click to enlarge</small>
    {% set image_array = row.image_path_array.split(',') %}
    <a href="/img/orig/{{ image_array[1] }}"><img src="/img/small/{{ image_array[1] }}" alt="" class="product_image"/></a>

    {% set image_array = row.image_path_array.split(',') %}
    {% for i in image_array %}
      {% if loop.index > 2 %}
         <a href="/img/orig/{{ i }}"><img src="/img/small/{{ i }}" alt="" class="product_image"/></a>
      {% endif %}
    {% endfor %}

  </div>

  <div class="col-lg-6">
    <h3>{{ row.name }}</h3>
    <div>${{ row.price }}</div>
    <div>{{ row.description }}</div>
  </div>

  <div class="col-sm-3">

    {% if row.inventory > 0 %}

    <div style="padding-bottom: 10px;">
      <!-- <a href="#" onclick="plusMinus(-1); return false;" class="plus_minus">-</a> -->
      <form action="" id="product_quantity_form">
        <!-- <input type="text" name="quantity" id="product_quantity_select" class="form-control" value="1" onblur="newQuant(this.value);"/> -->
        <select name="quantity" id="product_quantity_select" class="form-control">
          {% for n in range(1, row.inventory + 1) %}
          <option value={{ n }}>{{ n }}</option>
          {% endfor %}
        </select>
      </form>
      <!-- <a href="#" onclick="plusMinus(1); return false;" class="plus_minus">+</a> -->
    </div>
    <button onclick="addToCart({{ row.pid }}); return false;" type="button" class="btn btn-info">Add to cart</button>
    <span id="check_mark"><a href="/cart/"><img src="/img/check.png"></a></span><br>
    <button id="proceed_to_checkout" type="button" class="btn btn-success" onclick="javascript:location.href='/cart/'">Proceed to checkout</button>
    <div id="continue_shopping"><a href="/shop/">Continue shopping</a></div>

    {% else %}
      This item is out of stock
    {% endif %}

  </div>

  <!-- NEW ROW BELOW -->

  <div class="col-sm-3">
  </div>

  <div class="col-lg-6">
    {% if row.keywords %}
      <div>Keywords: {{ row.keywords_array }}</div>
    {% endif %}
  </div>

  <div class="col-sm-3">
  </div>

</div>

<script>
//function newQuant(val) {
//  alert(val);
//}

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

function plusMinus(n) {
  v = document.getElementById("product_quantity_select").value;
  //console.log(v);
  x = (Number(v) + Number(n));
  console.log('new val: '+x);
  document.getElementById("product_quantity_select").value = x;
  return false;
}

function getRandom() {
  return (Math.random() * 10000000000000000);
}

function make_request(session_id, product_id, quantity) {
  const fetchPromise = fetch('/cart-api/add', {
    method: 'POST',
    headers: {
      'content-type': 'application/json'
    },
    body: JSON.stringify({
      session_id: session_id,
      product_id: product_id,
      quantity: quantity
    })
  });
  fetchPromise.then(response => {
    document.getElementById("check_mark").style.display = "inline";
    document.getElementById("proceed_to_checkout").style.display = "block";
    document.getElementById("continue_shopping").style.display = "block";
    make_request_get_total(session_id);
    console.log("response from promise");
    //console.log(response);
  });
}

function addToCart(pid) {
  console.log(pid);
  // GRAB THE QUANTITY FROM FORM
  quantity = document.getElementById("product_quantity_select").value;
  console.log(quantity);
  if (quantity == 0) {
    alert("Select quantity");
  } else {
    // FIRST CHECK IF USER HAS SESSION COOKIE
    //var session_id = document.cookie.split("=")[1];
    var session_id = getCookie("session_id");
    console.log("product-detail.html session_id: " + session_id);

    if (session_id) {
      console.log("Existing session_id. Let's use it");
    } else {
      console.log("No session_id yet. Let's set one");
      // SET COOKIE
      var random_number = getRandom();
      document.cookie = "session_id=" + random_number + "; expires=Tue, 11 Jun 2120 12:00:00 UTC; path=/";
      session_id = random_number
    }
    if (session_id) {
      console.log(session_id)
      // MAKE A REQUEST TO THE NEW CART API
      console.log("request to cart api to add");
      make_request(session_id, {{ row.pid }}, quantity);
    } else {
      console.log("Error. Still no session_id");
    }
  }
  return false;
}

</script>

{% endblock %}
