{% extends "base-site.html" %}

{% block title %}Catalyst Creative Arts: Wheel Wars 2025{% endblock %}

{% block html_head %}
<style>
    .form-control {
        margin-bottom: 30px;
    }
</style>
{% endblock %}

{% block content %}

<center>
    <h1 class="art-brew">Wheel Wars 2025</h1>
</center>

<div class="row">

<div class="col-sm-2 bg-light">
</div>

<div class="col-sm-8 bg-light">
<p>
{% if form_data %}
    <p>Thank you for signing up</p>
    {% for k, v in form_data.items() %}
        {{ k }}: {{ v}}<br>
    {% endfor %}
{% else %}

    <p>Wheel Wars is a fast and fun, head-to-head pottery wheel competition where eight amateur potters will compete in 3 round eliminations.  Each competitor will have to make the same specified forms on the pottery wheel under time constraints. Each pottery form that the competitors make for a given round will have specific and measurable minimum requirements. If all requirements are met from both potters in a bracket, in each heat, the shortest length of time used to make the form will be the deciding factor for the winner of that heat.  All competitors must be amateur potters with some experience making pottery on a pottery wheel. No professionals please. </p>
    <p>This is a FREE community event and competitors are allowed to bring friends and family to watch and cheer them on. </p>
    <p>Potters are competing for a Wheel Wars 2025 Trophy.</p>
    <p>COMPETITION FORMAT</p>
    <ul>
        <li>Round 1 - The 8 potters will be assigned a number at random. Our judges will select 2 random numbers to compete against each other until all 8 potters have been assigned a heat. Each heat in Round 1 will require the potter to make a cylinder that meets the minimum measured requirement of 4 inch height and 3.5 inch diameter, no water inside, leathered rim, cylinder removed by hand and placed on the wareboard to stop the clock. Three 16oz balls of clay supplied, 12 minutes total time, fastest competitor that makes minimum requirements from each heat moves to Round 2.</li>
        <li>Round 2 - The 4 remaining potters will have their heat assigned randomly. Round 2 will require the potter to make a bowl that meets minimum measured requirement of 3 inch height and 5 inch diameter, no water inside, leathered rim, removed from the wheel by hand and placed on wareboard to stop the clock. Three 20oz balls of clay supplied, 12 minutes total time, fastest competitor that makes minimum requirements from each heat moves to Round 3.</li>
        <li>Round 3 - The 2 remaining potters are required to make a vase that meets specific minimum measured requirements of 6 inch height, vase must exhibit a belly, shoulder and neck, no water inside, removed from the wheel by hand and placed on the wakeboard to stop the clock. Two 24oz balls of clay supplied, 12 minutes total time, fastest competitor that makes minimum requirements will be declared Wheel Wars Champion.</li>
    </ul>

    <center>
        <p style="padding: 10px;">Event Sponsors:</p>
        <a href="https://divisionbrewing.com/"><img src="/img/DivisionHop.jpg" width="250px"></a>
        <a href="https://www.facebook.com/growlgetsloud/"><img src="/img/GrowlRecords.jpg" width="250px"></a>
        <p style="padding-top: 20px;">Sign up form:</p>
    </center>

    {{ form_html|safe }}
{% endif %}
</p>
</div>

<div class="col-sm-2 bg-light">
</div>

</div>

{% endblock %}
